{
  "openapi": "3.0.3",
  "info": {
    "version": "0.0.1",
    "title": "Privy API",
    "description": "REST API for Privy's wallet infrastructure — provision and manage wallets across EVM, Solana, and Bitcoin, authenticate users, sign transactions, and configure programmable policies and authorization intents.",
    "contact": {
      "name": "Privy",
      "url": "https://www.privy.io/",
      "email": "support@privy.io"
    }
  },
  "tags": [
    {
      "name": "Accounts",
      "description": "Operations related to asset accounts"
    },
    {
      "name": "Aggregations",
      "description": "Operations related to aggregations for tracking and measuring metrics"
    },
    {
      "name": "Apps",
      "description": "Operations related to app settings and allowlist management"
    },
    {
      "name": "Client Auth",
      "description": "OAuth token exchange and device authorization operations"
    },
    {
      "name": "Condition Sets",
      "description": "Operations related to condition sets"
    },
    {
      "name": "Embedded wallets",
      "description": "Operations related to embedded wallet creation and authentication"
    },
    {
      "name": "Fiat",
      "description": "Operations related to fiat onramping and offramping"
    },
    {
      "name": "Intents",
      "description": "Operations related to authorization intents for wallet actions"
    },
    {
      "name": "Key quorums",
      "description": "Operations related to key quorums"
    },
    {
      "name": "Kraken Embed",
      "description": "Operations for Kraken Embed integration, including quotes, trades, user management, and portfolio operations"
    },
    {
      "name": "OAuth",
      "description": "OAuth 2.0 endpoints including Device Authorization Grant (RFC 8628) for CLI and limited-input device login flows"
    },
    {
      "name": "Organizations",
      "description": "Operations related to organization secret management"
    },
    {
      "name": "Policies",
      "description": "Operations related to policies"
    },
    {
      "name": "Shared",
      "description": "Common schemas shared across resources"
    },
    {
      "name": "Swaps",
      "description": "Operations for swapping tokens within wallets"
    },
    {
      "name": "Transactions",
      "description": "Operations related to transactions"
    },
    {
      "name": "User signers",
      "description": "Operations related to user signers"
    },
    {
      "name": "Users",
      "description": "Operations related to users"
    },
    {
      "name": "Wallet Actions",
      "description": "Operations related to wallet actions"
    },
    {
      "name": "Wallets",
      "description": "Operations related to wallets"
    },
    {
      "name": "Webhooks",
      "description": "Webhook events that Privy sends to your configured endpoint when specific actions occur in your app"
    },
    {
      "name": "Yield",
      "description": "Operations for depositing and withdrawing funds from ERC-4626 yield vaults (Morpho, Aave)"
    }
  ],
  "servers": [
    {
      "url": "https://api.privy.io"
    }
  ],
  "components": {
    "securitySchemes": {
      "appSecretAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic Auth header with your app ID as the username and your app secret as the password."
      }
    },
    "schemas": {
      "EvmAddress": {
        "type": "string",
        "pattern": "^0x[0-9a-fA-F]{40}$",
        "description": "EVM address: 0x followed by 40 hex characters. Preserves input case.",
        "title": "EvmAddress",
        "x-stainless-model": "shared.evm_address"
      },
      "EvmChecksumAddress": {
        "type": "string",
        "pattern": "^0x[0-9a-fA-F]{40}$",
        "description": "EVM address normalized to EIP-55 checksum case.",
        "title": "EvmChecksumAddress",
        "x-stainless-model": "shared.evm_checksum_address"
      },
      "SolanaAddress": {
        "type": "string",
        "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
        "description": "Solana address: base58-encoded public key (32 bytes).",
        "title": "SolanaAddress",
        "x-stainless-model": "shared.solana_address"
      },
      "BitcoinAddress": {
        "type": "string",
        "pattern": "^(bc1[a-z0-9]{25,87}|[13][a-km-zA-HJ-NP-Z1-9]{25,34})$",
        "description": "Bitcoin address: bech32 (bc1), P2SH (3), or P2PKH (1).",
        "title": "BitcoinAddress",
        "x-stainless-model": "shared.bitcoin_address"
      },
      "TronAddress": {
        "type": "string",
        "pattern": "^T[1-9A-HJ-NP-Za-km-z]{33}$",
        "description": "Tron address: base58check-encoded, starting with T, 34 characters.",
        "title": "TronAddress",
        "x-stainless-model": "shared.tron_address"
      },
      "HyperliquidTokenAddress": {
        "type": "string",
        "pattern": "^0x[0-9a-fA-F]{32,40}$",
        "description": "Hyperliquid L1 spot token identifier: 0x followed by 32–40 hex characters, normalized to lowercase.",
        "title": "HyperliquidTokenAddress",
        "x-stainless-model": "shared.hyperliquid_token_address"
      },
      "AuthenticateModeOption": {
        "type": "string",
        "enum": [
          "login-or-sign-up",
          "no-signup"
        ],
        "description": "Whether to allow sign-up during authentication.",
        "title": "AuthenticateModeOption",
        "x-stainless-model": "client_auth.authenticate_mode_option"
      },
      "AuthenticateMode": {
        "type": "object",
        "properties": {
          "mode": {
            "$ref": "#/components/schemas/AuthenticateModeOption"
          }
        },
        "description": "The authentication mode settings for the ceremony.",
        "title": "AuthenticateMode",
        "x-stainless-model": "client_auth.authenticate_mode"
      },
      "CurveSigningChainType": {
        "type": "string",
        "enum": [
          "aptos",
          "bitcoin-segwit",
          "bitcoin-taproot",
          "cosmos",
          "movement",
          "near",
          "pearl",
          "starknet",
          "stellar",
          "sui",
          "ton",
          "tron"
        ],
        "description": "The wallet chain types that support curve-based signing.",
        "title": "CurveSigningChainType",
        "x-stainless-model": "wallets.curve_signing_chain_type"
      },
      "ExtendedChainType": {
        "type": "string",
        "enum": [
          "aptos",
          "bitcoin-segwit",
          "bitcoin-taproot",
          "cosmos",
          "movement",
          "near",
          "pearl",
          "spark",
          "starknet",
          "stellar",
          "sui",
          "ton",
          "tron"
        ],
        "description": "The wallet chain types that are not first class chains.",
        "title": "ExtendedChainType",
        "x-stainless-model": "wallets.extended_chain_type"
      },
      "FirstClassChainType": {
        "type": "string",
        "enum": [
          "ethereum",
          "solana"
        ],
        "description": "The wallet chain types that offer first class support.",
        "title": "FirstClassChainType",
        "x-stainless-model": "wallets.first_class_chain_type"
      },
      "WalletChainType": {
        "type": "string",
        "enum": [
          "aptos",
          "bitcoin-segwit",
          "bitcoin-taproot",
          "cosmos",
          "ethereum",
          "movement",
          "near",
          "pearl",
          "solana",
          "spark",
          "starknet",
          "stellar",
          "sui",
          "ton",
          "tron"
        ],
        "description": "The wallet chain types.",
        "title": "WalletChainType",
        "x-stainless-model": "wallets.wallet_chain_type"
      },
      "ExternalOAuthProviderID": {
        "type": "string",
        "enum": [
          "apple",
          "discord",
          "github",
          "google",
          "instagram",
          "line",
          "linkedin",
          "spotify",
          "telegram",
          "tiktok",
          "twitch",
          "twitter"
        ],
        "description": "The ID of an external OAuth provider.",
        "title": "ExternalOAuthProviderID",
        "x-stainless-model": "client_auth.external_oauth_provider_id"
      },
      "PrivyOAuthProviderID": {
        "type": "string",
        "description": "The ID of a Privy app as an OAuth provider. Must start with \"privy:\".",
        "title": "PrivyOAuthProviderID",
        "x-stainless-model": "client_auth.privy_oauth_provider_id"
      },
      "CustomOAuthProviderID": {
        "type": "string",
        "description": "The ID of a custom OAuth provider, set up for this app. Must start with \"custom:\".",
        "title": "CustomOAuthProviderID",
        "x-stainless-model": "client_auth.custom_oauth_provider_id"
      },
      "OAuthProviderID": {
        "description": "The ID of an OAuth provider.",
        "title": "OAuthProviderID",
        "x-stainless-model": "client_auth.oauth_provider_id",
        "oneOf": [
          {
            "$ref": "#/components/schemas/ExternalOAuthProviderID"
          },
          {
            "$ref": "#/components/schemas/PrivyOAuthProviderID"
          },
          {
            "$ref": "#/components/schemas/CustomOAuthProviderID"
          }
        ]
      },
      "BridgeOnrampProvider": {
        "type": "string",
        "enum": [
          "bridge",
          "bridge-sandbox"
        ],
        "description": "Bridge provider variant — production or sandbox.",
        "title": "BridgeOnrampProvider",
        "x-stainless-model": "client_auth.bridge_onramp_provider"
      },
      "OnrampProvider": {
        "type": "string",
        "enum": [
          "bridge",
          "bridge-sandbox"
        ],
        "description": "Valid set of onramp providers",
        "title": "OnrampProvider",
        "example": "bridge",
        "x-stainless-model": "client_auth.onramp_provider"
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        },
        "required": [
          "success"
        ],
        "description": "A simple success response.",
        "title": "SuccessResponse",
        "x-stainless-model": "shared.success_response"
      },
      "CAIP2": {
        "type": "string",
        "pattern": "^[-a-z0-9]{3,8}:[-_a-zA-Z0-9]{1,32}$",
        "description": "A valid CAIP-2 chain ID (e.g. 'eip155:1').",
        "title": "CAIP2",
        "x-stainless-model": "apps.caip_2"
      },
      "P256PublicKey": {
        "type": "string",
        "description": "A P-256 (secp256r1) public key.",
        "title": "P256PublicKey",
        "x-stainless-model": "shared.p_256_public_key"
      },
      "KeyQuorumId": {
        "type": "string",
        "format": "cuid2",
        "description": "A unique identifier for a key quorum.",
        "title": "KeyQuorumId",
        "x-stainless-model": "shared.key_quorum_id"
      },
      "OwnerInputUser": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          }
        },
        "required": [
          "user_id"
        ],
        "description": "Owner input specifying a Privy user ID.",
        "title": "OwnerInputUser",
        "x-stainless-model": "shared.owner_input_user"
      },
      "OwnerInputPublicKey": {
        "type": "object",
        "properties": {
          "public_key": {
            "$ref": "#/components/schemas/P256PublicKey"
          }
        },
        "required": [
          "public_key"
        ],
        "description": "Owner input specifying a P-256 public key.",
        "title": "OwnerInputPublicKey",
        "x-stainless-model": "shared.owner_input_public_key"
      },
      "OwnerInput": {
        "description": "The owner of the resource, specified as a Privy user ID, a P-256 public key, or null to remove the current owner.",
        "title": "OwnerInput",
        "x-stainless-model": "shared.owner_input",
        "oneOf": [
          {
            "$ref": "#/components/schemas/OwnerInputUser"
          },
          {
            "$ref": "#/components/schemas/OwnerInputPublicKey"
          },
          {
            "type": "string"
          },
          {
            "type": "string"
          }
        ]
      },
      "OwnerIdInput": {
        "type": "string",
        "format": "cuid2",
        "description": "The key quorum ID to set as the owner of the resource. If you provide this, do not specify an owner.",
        "title": "OwnerIdInput",
        "x-stainless-model": "shared.owner_id_input"
      },
      "WalletCreationAdditionalSignerItem": {
        "type": "object",
        "properties": {
          "signer_id": {
            "allOf": [
              {
                "$ref": "#/components/schemas/KeyQuorumId"
              },
              {
                "description": "The key quorum ID for the signer."
              }
            ]
          },
          "override_policy_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 24,
              "maxLength": 24
            },
            "maxItems": 1,
            "description": "The array of policy IDs that will be applied to wallet requests. If specified, this will override the base policy IDs set on the wallet. Currently, only one policy is supported per signer."
          }
        },
        "required": [
          "signer_id"
        ],
        "description": "An additional signer configuration for a wallet.",
        "title": "WalletCreationAdditionalSignerItem",
        "x-stainless-model": "embedded_wallets.wallet_creation_additional_signer_item"
      },
      "WalletCreationInput": {
        "type": "object",
        "properties": {
          "additional_signers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WalletCreationAdditionalSignerItem"
            },
            "description": "Additional signers for the wallet."
          },
          "policy_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 24,
              "maxLength": 24
            },
            "maxItems": 1,
            "description": "Policy IDs to enforce on the wallet. Currently, only one policy is supported per wallet."
          },
          "chain_type": {
            "$ref": "#/components/schemas/WalletChainType"
          },
          "create_smart_wallet": {
            "type": "boolean",
            "description": "Create a smart wallet with this wallet as the signer. Only supported for wallets with `chain_type: \"ethereum\"`."
          }
        },
        "required": [
          "chain_type"
        ],
        "description": "The fields on wallet creation that can be specified when creating a user-controlled embedded server wallet.",
        "title": "WalletCreationInput",
        "x-stainless-model": "embedded_wallets.wallet_creation_input"
      },
      "EmbeddedWalletCreationInput": {
        "type": "object",
        "properties": {
          "wallets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WalletCreationInput"
            },
            "description": "Wallets to create."
          }
        },
        "description": "The fields describing embedded wallet creation, used for user import and embedded wallet generation.",
        "title": "EmbeddedWalletCreationInput",
        "x-stainless-model": "embedded_wallets.embedded_wallet_creation_input"
      },
      "CustomMetadata": {
        "type": "object",
        "additionalProperties": {
          "oneOf": [
            {
              "type": "string"
            },
            {
              "type": "number"
            },
            {
              "type": "boolean"
            }
          ]
        },
        "description": "Custom metadata associated with the user.",
        "title": "CustomMetadata",
        "x-stainless-model": "users.custom_metadata"
      },
      "LinkedAccountWalletInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "wallet"
            ]
          },
          "address": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "string"
              }
            ]
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "ethereum",
              "solana"
            ]
          }
        },
        "required": [
          "type",
          "address",
          "chain_type"
        ],
        "description": "The payload for importing a wallet account.",
        "title": "LinkedAccountWalletInput",
        "x-stainless-model": "users.linked_account_wallet_input"
      },
      "LinkedAccountEmailInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "email"
            ]
          },
          "address": {
            "type": "string",
            "format": "email"
          }
        },
        "required": [
          "type",
          "address"
        ],
        "description": "The payload for importing an email account.",
        "title": "LinkedAccountEmailInput",
        "x-stainless-model": "users.linked_account_email_input"
      },
      "LinkedAccountPhoneInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "phone"
            ]
          },
          "number": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "number"
        ],
        "description": "The payload for importing a phone account.",
        "title": "LinkedAccountPhoneInput",
        "x-stainless-model": "users.linked_account_phone_input"
      },
      "LinkedAccountGoogleInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "google_oauth"
            ]
          },
          "subject": {
            "type": "string",
            "pattern": "^[\\x00-\\x7F]{1,256}$"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "subject",
          "email",
          "name"
        ],
        "description": "The payload for importing a Google account.",
        "title": "LinkedAccountGoogleInput",
        "x-stainless-model": "users.linked_account_google_input"
      },
      "LinkedAccountTwitterInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "twitter_oauth"
            ]
          },
          "subject": {
            "type": "string",
            "pattern": "^[\\x00-\\x7F]{1,256}$"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50
          },
          "username": {
            "type": "string",
            "pattern": "^[0-9a-zA-Z|\\_]{1,15}$"
          },
          "profile_picture_url": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "type",
          "subject",
          "name",
          "username"
        ],
        "description": "The payload for importing a Twitter account.",
        "title": "LinkedAccountTwitterInput",
        "x-stainless-model": "users.linked_account_twitter_input"
      },
      "LinkedAccountDiscordInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "discord_oauth"
            ]
          },
          "subject": {
            "type": "string",
            "pattern": "^\\d{17,20}$"
          },
          "username": {
            "type": "string",
            "pattern": "^(?!discord|everyone|here)[0-9a-zA-Z_.]{2,32}(?:#(?:[0-9]{4}|0))?$"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        },
        "required": [
          "type",
          "subject",
          "username"
        ],
        "description": "The payload for importing a Discord account.",
        "title": "LinkedAccountDiscordInput",
        "x-stainless-model": "users.linked_account_discord_input"
      },
      "LinkedAccountGithubInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "github_oauth"
            ]
          },
          "subject": {
            "type": "string",
            "pattern": "^[\\x00-\\x7F]{1,256}$"
          },
          "username": {
            "type": "string",
            "maxLength": 39,
            "pattern": "^[a-zA-Z0-9]+(?:-[a-zA-Z0-9]+)*$"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        },
        "required": [
          "type",
          "subject",
          "username"
        ],
        "description": "The payload for importing a Github account.",
        "title": "LinkedAccountGithubInput",
        "x-stainless-model": "users.linked_account_github_input"
      },
      "LinkedAccountSpotifyInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "spotify_oauth"
            ]
          },
          "subject": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        },
        "required": [
          "type",
          "subject"
        ],
        "description": "The payload for importing a Spotify account.",
        "title": "LinkedAccountSpotifyInput",
        "x-stainless-model": "users.linked_account_spotify_input"
      },
      "LinkedAccountInstagramInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "instagram_oauth"
            ]
          },
          "subject": {
            "type": "string",
            "pattern": "^[\\x00-\\x7F]{1,256}$"
          },
          "username": {
            "type": "string",
            "pattern": "^(?!instagram|everyone|here)[0-9a-zA-Z._]{2,32}$"
          }
        },
        "required": [
          "type",
          "subject",
          "username"
        ],
        "description": "The payload for importing an Instagram account.",
        "title": "LinkedAccountInstagramInput",
        "x-stainless-model": "users.linked_account_instagram_input"
      },
      "LinkedAccountTiktokInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "tiktok_oauth"
            ]
          },
          "subject": {
            "type": "string",
            "pattern": "^[\\x00-\\x7F]{1,256}$"
          },
          "username": {
            "type": "string",
            "pattern": "^(?!tiktok|everyone|here)[0-9a-zA-Z]{2,32}$"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 30
          }
        },
        "required": [
          "type",
          "subject",
          "username"
        ],
        "description": "The payload for importing a Tiktok account.",
        "title": "LinkedAccountTiktokInput",
        "x-stainless-model": "users.linked_account_tiktok_input"
      },
      "LinkedAccountLineInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "line_oauth"
            ]
          },
          "subject": {
            "type": "string",
            "pattern": "^[\\x00-\\x7F]{1,256}$"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 30
          },
          "profile_picture_url": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "type",
          "subject"
        ],
        "description": "The payload for importing a LINE account.",
        "title": "LinkedAccountLineInput",
        "x-stainless-model": "users.linked_account_line_input"
      },
      "LinkedAccountTwitchInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "twitch_oauth"
            ]
          },
          "subject": {
            "type": "string",
            "pattern": "^\\d+$"
          },
          "username": {
            "type": "string",
            "pattern": "^[a-zA-Z0-9_]{4,25}$"
          }
        },
        "required": [
          "type",
          "subject"
        ],
        "description": "The payload for importing a Twitch account.",
        "title": "LinkedAccountTwitchInput",
        "x-stainless-model": "users.linked_account_twitch_input"
      },
      "LinkedAccountAppleInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "apple_oauth"
            ]
          },
          "subject": {
            "type": "string",
            "pattern": "^[\\x00-\\x7F]{1,256}$"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        },
        "required": [
          "type",
          "subject"
        ],
        "description": "The payload for importing an Apple account.",
        "title": "LinkedAccountAppleInput",
        "x-stainless-model": "users.linked_account_apple_input"
      },
      "LinkedAccountLinkedInInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "linkedin_oauth"
            ]
          },
          "subject": {
            "type": "string",
            "pattern": "^[\\x00-\\x7F]{1,256}$"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "vanityName": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "subject"
        ],
        "description": "The payload for importing a LinkedIn account.",
        "title": "LinkedAccountLinkedInInput",
        "x-stainless-model": "users.linked_account_linked_in_input"
      },
      "LinkedAccountFarcasterInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "farcaster"
            ]
          },
          "fid": {
            "type": "integer"
          },
          "owner_address": {
            "type": "string"
          },
          "username": {
            "type": "string",
            "maxLength": 256
          },
          "display_name": {
            "type": "string",
            "maxLength": 32
          },
          "bio": {
            "type": "string",
            "maxLength": 256
          },
          "profile_picture_url": {
            "type": "string",
            "maxLength": 256
          },
          "homepage_url": {
            "type": "string",
            "maxLength": 256
          }
        },
        "required": [
          "type",
          "fid",
          "owner_address"
        ],
        "description": "The payload for importing a Farcaster account.",
        "title": "LinkedAccountFarcasterInput",
        "x-stainless-model": "users.linked_account_farcaster_input"
      },
      "LinkedAccountTelegramInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "telegram"
            ]
          },
          "telegram_user_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "first_name": {
            "type": "string",
            "maxLength": 255
          },
          "last_name": {
            "type": "string",
            "maxLength": 255
          },
          "username": {
            "type": "string",
            "maxLength": 255
          },
          "photo_url": {
            "type": "string",
            "maxLength": 255
          }
        },
        "required": [
          "type",
          "telegram_user_id"
        ],
        "description": "The payload for importing a Telegram account.",
        "title": "LinkedAccountTelegramInput",
        "x-stainless-model": "users.linked_account_telegram_input"
      },
      "LinkedAccountCustomJWTInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "custom_auth"
            ]
          },
          "custom_user_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 256
          }
        },
        "required": [
          "type",
          "custom_user_id"
        ],
        "description": "The payload for importing a Custom JWT account.",
        "title": "LinkedAccountCustomJWTInput",
        "x-stainless-model": "users.linked_account_custom_jwt_input"
      },
      "LinkedAccountPasskeyInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "passkey"
            ]
          },
          "credential_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1024
          },
          "credential_username": {
            "type": "string",
            "minLength": 1,
            "maxLength": 256
          },
          "credential_public_key": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2048
          },
          "credential_device_type": {
            "type": "string",
            "enum": [
              "multiDevice",
              "singleDevice"
            ]
          }
        },
        "required": [
          "type",
          "credential_id",
          "credential_username",
          "credential_public_key",
          "credential_device_type"
        ],
        "description": "The payload for importing a passkey account.",
        "title": "LinkedAccountPasskeyInput",
        "x-stainless-model": "users.linked_account_passkey_input"
      },
      "LinkedAccountInput": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/LinkedAccountWalletInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountEmailInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountPhoneInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountGoogleInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountTwitterInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountDiscordInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountGithubInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountSpotifyInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountInstagramInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountTiktokInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountLineInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountTwitchInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountAppleInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountLinkedInInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountFarcasterInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountTelegramInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountCustomJWTInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountPasskeyInput"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "wallet": "#/components/schemas/LinkedAccountWalletInput",
            "email": "#/components/schemas/LinkedAccountEmailInput",
            "phone": "#/components/schemas/LinkedAccountPhoneInput",
            "google_oauth": "#/components/schemas/LinkedAccountGoogleInput",
            "twitter_oauth": "#/components/schemas/LinkedAccountTwitterInput",
            "discord_oauth": "#/components/schemas/LinkedAccountDiscordInput",
            "github_oauth": "#/components/schemas/LinkedAccountGithubInput",
            "spotify_oauth": "#/components/schemas/LinkedAccountSpotifyInput",
            "instagram_oauth": "#/components/schemas/LinkedAccountInstagramInput",
            "tiktok_oauth": "#/components/schemas/LinkedAccountTiktokInput",
            "line_oauth": "#/components/schemas/LinkedAccountLineInput",
            "twitch_oauth": "#/components/schemas/LinkedAccountTwitchInput",
            "apple_oauth": "#/components/schemas/LinkedAccountAppleInput",
            "linkedin_oauth": "#/components/schemas/LinkedAccountLinkedInInput",
            "farcaster": "#/components/schemas/LinkedAccountFarcasterInput",
            "telegram": "#/components/schemas/LinkedAccountTelegramInput",
            "custom_auth": "#/components/schemas/LinkedAccountCustomJWTInput",
            "passkey": "#/components/schemas/LinkedAccountPasskeyInput"
          }
        },
        "description": "The input for adding a linked account to a user.",
        "title": "LinkedAccountInput",
        "example": {
          "type": "email",
          "address": "tom.bombadill@privy.io"
        },
        "x-stainless-model": "users.linked_account_input"
      },
      "UserBatchCreateInput": {
        "type": "object",
        "properties": {
          "users": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "wallets": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WalletCreationInput"
                  },
                  "description": "Wallets to create."
                },
                "create_embedded_wallet": {
                  "type": "boolean"
                },
                "create_n_embedded_wallets": {
                  "type": "number",
                  "minimum": 1,
                  "maximum": 10
                },
                "create_n_ethereum_wallets": {
                  "type": "number",
                  "minimum": 1,
                  "maximum": 10
                },
                "create_ethereum_wallet": {
                  "type": "boolean"
                },
                "create_solana_wallet": {
                  "type": "boolean"
                },
                "create_ethereum_smart_wallet": {
                  "type": "boolean"
                },
                "linked_accounts": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LinkedAccountInput"
                  },
                  "minItems": 1
                },
                "custom_metadata": {
                  "$ref": "#/components/schemas/CustomMetadata"
                }
              },
              "required": [
                "linked_accounts"
              ]
            },
            "maxItems": 20
          }
        },
        "required": [
          "users"
        ],
        "description": "The payload for batch creating users.",
        "title": "UserBatchCreateInput",
        "x-stainless-model": "users.user_batch_create_input"
      },
      "AuthorizationKeyRole": {
        "type": "string",
        "enum": [
          "delegated-actions",
          "manager",
          "root"
        ],
        "description": "The role of an authorization key, controlling what actions it can authorize on a wallet.",
        "title": "AuthorizationKeyRole",
        "x-stainless-model": "wallets.authorization_key_role"
      },
      "WalletEntropyType": {
        "type": "string",
        "enum": [
          "hd",
          "private-key"
        ],
        "description": "The entropy type of the wallet.",
        "title": "WalletEntropyType",
        "x-stainless-model": "wallets.wallet_entropy_type"
      },
      "SolanaWalletDerivationStrategy": {
        "type": "string",
        "enum": [
          "ENTROPY_TO_MNEMONIC_TO_SEED",
          "ENTROPY_TO_SEED"
        ],
        "description": "The derivation strategy used for Solana wallets.",
        "title": "SolanaWalletDerivationStrategy",
        "x-stainless-model": "wallets.solana_wallet_derivation_strategy"
      },
      "PolicyInput": {
        "type": "array",
        "items": {
          "type": "string",
          "minLength": 24,
          "maxLength": 24,
          "format": "cuid2"
        },
        "maxItems": 1,
        "description": "An optional list of up to one policy ID to enforce on the wallet.",
        "title": "PolicyInput",
        "x-stainless-model": "wallets.policy_input"
      },
      "AdditionalSignerItemInput": {
        "type": "object",
        "properties": {
          "signer_id": {
            "$ref": "#/components/schemas/KeyQuorumId"
          },
          "override_policy_ids": {
            "$ref": "#/components/schemas/PolicyInput"
          }
        },
        "required": [
          "signer_id"
        ],
        "description": "A single additional signer for a wallet, with an optional policy override.",
        "title": "AdditionalSignerItemInput",
        "x-stainless-model": "wallets.additional_signer_item_input"
      },
      "AdditionalSignerInput": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/AdditionalSignerItemInput"
        },
        "description": "Additional signers for the wallet.",
        "title": "AdditionalSignerInput",
        "x-stainless-model": "wallets.additional_signer_input"
      },
      "WalletAdditionalSignerItem": {
        "type": "object",
        "properties": {
          "signer_id": {
            "$ref": "#/components/schemas/KeyQuorumId"
          },
          "override_policy_ids": {
            "$ref": "#/components/schemas/PolicyInput"
          }
        },
        "required": [
          "signer_id"
        ],
        "description": "A single additional signer on a wallet, with an optional policy override.",
        "title": "WalletAdditionalSignerItem",
        "x-stainless-model": "wallets.wallet_additional_signer_item"
      },
      "WalletAdditionalSigner": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/WalletAdditionalSignerItem"
        },
        "description": "Additional signers for the wallet.",
        "title": "WalletAdditionalSigner",
        "x-stainless-model": "wallets.wallet_additional_signer"
      },
      "Address": {
        "description": "A blockchain wallet address (Ethereum or Solana).",
        "title": "Address",
        "x-stainless-model": "wallets.address",
        "oneOf": [
          {
            "type": "string"
          },
          {
            "type": "string"
          }
        ]
      },
      "WalletCustodian": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "description": "The custodian responsible for the wallet."
          },
          "provider_user_id": {
            "type": "string",
            "description": "The resource ID of the beneficiary of the custodial wallet."
          }
        },
        "required": [
          "provider",
          "provider_user_id"
        ],
        "description": "Information about the custodian managing this wallet.",
        "title": "WalletCustodian",
        "x-stainless-model": "wallets.wallet_custodian"
      },
      "CustodialWalletProvider": {
        "type": "string",
        "enum": [
          "bridge"
        ],
        "description": "The provider of the custodial wallet.",
        "title": "CustodialWalletProvider",
        "x-stainless-model": "wallets.custodial_wallet_provider"
      },
      "CustodialWalletChainType": {
        "type": "string",
        "enum": [
          "ethereum",
          "solana"
        ],
        "description": "The chain type of the custodial wallet.",
        "title": "CustodialWalletChainType",
        "x-stainless-model": "wallets.custodial_wallet_chain_type"
      },
      "CustodialWalletCreateInput": {
        "type": "object",
        "properties": {
          "chain_type": {
            "$ref": "#/components/schemas/CustodialWalletChainType"
          },
          "provider_user_id": {
            "type": "string",
            "minLength": 1,
            "description": "The resource ID of the beneficiary of the custodial wallet, given by the licensing provider."
          },
          "provider": {
            "$ref": "#/components/schemas/CustodialWalletProvider"
          },
          "owner": {
            "$ref": "#/components/schemas/OwnerInput"
          },
          "additional_signers": {
            "$ref": "#/components/schemas/AdditionalSignerInput"
          },
          "policy_ids": {
            "$ref": "#/components/schemas/PolicyInput"
          }
        },
        "required": [
          "chain_type",
          "provider_user_id",
          "provider"
        ],
        "description": "The input for creating a custodial wallet.",
        "title": "CustodialWalletCreateInput",
        "example": {
          "chain_type": "ethereum",
          "provider": "bridge",
          "provider_user_id": "1234567890"
        },
        "x-stainless-model": "wallets.custodial_wallet_create_input"
      },
      "CustodialWallet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "$ref": "#/components/schemas/CustodialWalletChainType"
          },
          "custody": {
            "$ref": "#/components/schemas/WalletCustodian"
          },
          "policy_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 24,
              "maxLength": 24
            }
          },
          "additional_signers": {
            "$ref": "#/components/schemas/WalletAdditionalSigner"
          },
          "owner_id": {
            "allOf": [
              {
                "$ref": "#/components/schemas/KeyQuorumId"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "address",
          "chain_type",
          "custody"
        ],
        "description": "Information about a custodial wallet.",
        "title": "CustodialWallet",
        "example": {
          "id": "id2tptkqrxd39qo9j423etij",
          "address": "0xB00F0759DbeeF5E543Cc3E3B07A6442F5f3928a2",
          "chain_type": "ethereum",
          "custody": {
            "provider": "bridge",
            "provider_user_id": "1234567890"
          },
          "policy_ids": [],
          "additional_signers": [],
          "owner_id": null
        },
        "x-stainless-model": "wallets.custodial_wallet"
      },
      "AmountType": {
        "type": "string",
        "enum": [
          "exact_input",
          "exact_output"
        ],
        "description": "Whether the amount refers to the input token or output token.",
        "title": "AmountType",
        "x-stainless-model": "wallets.amount_type"
      },
      "CurveType": {
        "type": "string",
        "enum": [
          "ed25519",
          "secp256k1",
          "starknet"
        ],
        "description": "The cryptographic curve type used by the wallet.",
        "title": "CurveType",
        "x-stainless-model": "wallets.curve_type"
      },
      "HDPath": {
        "type": "string",
        "pattern": "^[mM]'?(\\/\\d+'?)*$",
        "description": "A BIP-32 hierarchical deterministic wallet derivation path.",
        "title": "HDPath",
        "x-stainless-model": "wallets.hd_path"
      },
      "SigningAlgorithm": {
        "description": "The signing algorithm used by the wallet.",
        "title": "SigningAlgorithm",
        "x-stainless-model": "wallets.signing_algorithm",
        "oneOf": [
          {
            "type": "string",
            "enum": [
              "ECDSA"
            ]
          },
          {
            "type": "string",
            "enum": [
              "EdDSA"
            ]
          },
          {
            "type": "string",
            "enum": [
              "Schnorr"
            ]
          }
        ]
      },
      "Hex": {
        "type": "string",
        "maxLength": 100002,
        "description": "A hex-encoded string prefixed with '0x', capped at 100002 characters (50,000 bytes).",
        "title": "Hex",
        "x-stainless-model": "wallets.hex"
      },
      "Quantity": {
        "description": "A quantity value that can be either a hex string starting with '0x' or a non-negative integer.",
        "title": "Quantity",
        "x-stainless-model": "wallets.quantity",
        "oneOf": [
          {
            "$ref": "#/components/schemas/Hex"
          },
          {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        ]
      },
      "EthereumSign7702Authorization": {
        "type": "object",
        "properties": {
          "contract": {
            "type": "string"
          },
          "chain_id": {
            "$ref": "#/components/schemas/Quantity"
          },
          "nonce": {
            "$ref": "#/components/schemas/Quantity"
          },
          "r": {
            "$ref": "#/components/schemas/Hex"
          },
          "s": {
            "$ref": "#/components/schemas/Hex"
          },
          "y_parity": {
            "type": "number"
          }
        },
        "required": [
          "contract",
          "chain_id",
          "nonce",
          "r",
          "s",
          "y_parity"
        ],
        "description": "A signed EIP-7702 authorization that delegates code execution to a contract address.",
        "title": "EthereumSign7702Authorization",
        "x-stainless-model": "wallets.ethereum_sign_7702_authorization"
      },
      "UnsignedStandardEthereumTransaction": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "chain_id": {
            "$ref": "#/components/schemas/Quantity"
          },
          "nonce": {
            "$ref": "#/components/schemas/Quantity"
          },
          "data": {
            "$ref": "#/components/schemas/Hex"
          },
          "value": {
            "$ref": "#/components/schemas/Quantity"
          },
          "type": {
            "oneOf": [
              {
                "type": "number",
                "enum": [
                  0
                ]
              },
              {
                "type": "number",
                "enum": [
                  1
                ]
              },
              {
                "type": "number",
                "enum": [
                  2
                ]
              },
              {
                "type": "number",
                "enum": [
                  4
                ]
              }
            ]
          },
          "gas_limit": {
            "$ref": "#/components/schemas/Quantity"
          },
          "gas_price": {
            "$ref": "#/components/schemas/Quantity"
          },
          "max_fee_per_gas": {
            "$ref": "#/components/schemas/Quantity"
          },
          "max_priority_fee_per_gas": {
            "$ref": "#/components/schemas/Quantity"
          },
          "authorization_list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EthereumSign7702Authorization"
            },
            "maxItems": 10
          }
        },
        "description": "An unsigned standard Ethereum transaction object. Supports EVM transaction types 0, 1, 2, and 4.",
        "title": "UnsignedStandardEthereumTransaction",
        "x-stainless-model": "wallets.unsigned_standard_ethereum_transaction"
      },
      "TempoCall": {
        "type": "object",
        "properties": {
          "to": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Hex"
          },
          "value": {
            "$ref": "#/components/schemas/Quantity"
          }
        },
        "required": [
          "to"
        ],
        "description": "A single call within a Tempo batched transaction.",
        "title": "TempoCall",
        "x-stainless-model": "wallets.tempo_call"
      },
      "TempoFeePayerSignature": {
        "type": "object",
        "properties": {
          "r": {
            "$ref": "#/components/schemas/Hex"
          },
          "s": {
            "$ref": "#/components/schemas/Hex"
          },
          "y_parity": {
            "oneOf": [
              {
                "type": "number",
                "enum": [
                  0
                ]
              },
              {
                "type": "number",
                "enum": [
                  1
                ]
              }
            ]
          }
        },
        "required": [
          "r",
          "s",
          "y_parity"
        ],
        "description": "A fee payer signature for sponsored Tempo transactions (secp256k1 only).",
        "title": "TempoFeePayerSignature",
        "x-stainless-model": "wallets.tempo_fee_payer_signature"
      },
      "TempoAAAuthorization": {
        "type": "object",
        "properties": {
          "contract": {
            "type": "string"
          },
          "chain_id": {
            "$ref": "#/components/schemas/Quantity"
          },
          "nonce": {
            "$ref": "#/components/schemas/Quantity"
          },
          "signature": {
            "$ref": "#/components/schemas/Hex"
          }
        },
        "required": [
          "contract",
          "chain_id",
          "nonce",
          "signature"
        ],
        "description": "An AA authorization for Tempo transactions with P256/WebAuthn signatures.",
        "title": "TempoAAAuthorization",
        "x-stainless-model": "wallets.tempo_aa_authorization"
      },
      "UnsignedTempoTransaction": {
        "type": "object",
        "properties": {
          "type": {
            "type": "number",
            "enum": [
              118
            ]
          },
          "from": {
            "type": "string"
          },
          "chain_id": {
            "$ref": "#/components/schemas/Quantity"
          },
          "nonce": {
            "$ref": "#/components/schemas/Quantity"
          },
          "gas_limit": {
            "$ref": "#/components/schemas/Quantity"
          },
          "max_fee_per_gas": {
            "$ref": "#/components/schemas/Quantity"
          },
          "max_priority_fee_per_gas": {
            "$ref": "#/components/schemas/Quantity"
          },
          "calls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TempoCall"
            },
            "minItems": 1
          },
          "fee_token": {
            "type": "string"
          },
          "nonce_key": {
            "$ref": "#/components/schemas/Quantity"
          },
          "valid_before": {
            "$ref": "#/components/schemas/Quantity"
          },
          "valid_after": {
            "$ref": "#/components/schemas/Quantity"
          },
          "fee_payer_signature": {
            "$ref": "#/components/schemas/TempoFeePayerSignature"
          },
          "access_list": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string"
                },
                "storage_keys": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Hex"
                  }
                }
              },
              "required": [
                "address",
                "storage_keys"
              ]
            }
          },
          "aa_authorization_list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TempoAAAuthorization"
            },
            "maxItems": 10
          }
        },
        "required": [
          "type",
          "calls"
        ],
        "description": "An unsigned Tempo transaction (type 118) with batched calls.",
        "title": "UnsignedTempoTransaction",
        "x-stainless-model": "wallets.unsigned_tempo_transaction"
      },
      "UnsignedEthereumTransaction": {
        "description": "An unsigned Ethereum transaction object. Supports standard EVM transaction types (0, 1, 2, 4) and Tempo transactions (type 118).",
        "title": "UnsignedEthereumTransaction",
        "x-stainless-model": "wallets.unsigned_ethereum_transaction",
        "oneOf": [
          {
            "$ref": "#/components/schemas/UnsignedStandardEthereumTransaction"
          },
          {
            "$ref": "#/components/schemas/UnsignedTempoTransaction"
          }
        ]
      },
      "UserOperationInput": {
        "type": "object",
        "properties": {
          "sender": {
            "type": "string"
          },
          "nonce": {
            "$ref": "#/components/schemas/Hex"
          },
          "call_data": {
            "$ref": "#/components/schemas/Hex"
          },
          "paymaster": {
            "type": "string"
          },
          "paymaster_data": {
            "$ref": "#/components/schemas/Hex"
          },
          "paymaster_post_op_gas_limit": {
            "$ref": "#/components/schemas/Hex"
          },
          "paymaster_verification_gas_limit": {
            "$ref": "#/components/schemas/Hex"
          },
          "max_priority_fee_per_gas": {
            "$ref": "#/components/schemas/Hex"
          },
          "max_fee_per_gas": {
            "$ref": "#/components/schemas/Hex"
          },
          "call_gas_limit": {
            "$ref": "#/components/schemas/Hex"
          },
          "verification_gas_limit": {
            "$ref": "#/components/schemas/Hex"
          },
          "pre_verification_gas": {
            "$ref": "#/components/schemas/Hex"
          }
        },
        "required": [
          "sender",
          "nonce",
          "call_data",
          "max_priority_fee_per_gas",
          "max_fee_per_gas",
          "call_gas_limit",
          "verification_gas_limit",
          "pre_verification_gas"
        ],
        "description": "An ERC-4337 user operation.",
        "title": "UserOperationInput",
        "x-stainless-model": "wallets.user_operation_input"
      },
      "TypedDataDomainInputParams": {
        "type": "object",
        "additionalProperties": {
          "x-stainless-any": true
        },
        "description": "The domain parameters for EIP-712 typed data signing.",
        "title": "TypedDataDomainInputParams",
        "x-stainless-model": "wallets.typed_data_domain_input_params"
      },
      "TypedDataTypeFieldInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "type"
        ],
        "description": "A single field definition in an EIP-712 typed data type.",
        "title": "TypedDataTypeFieldInput",
        "x-stainless-model": "wallets.typed_data_type_field_input"
      },
      "TypedDataTypesInputParams": {
        "type": "object",
        "additionalProperties": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/TypedDataTypeFieldInput"
          }
        },
        "description": "The type definitions for EIP-712 typed data signing.",
        "title": "TypedDataTypesInputParams",
        "x-stainless-model": "wallets.typed_data_types_input_params"
      },
      "HPKEEncryption": {
        "type": "string",
        "enum": [
          "HPKE"
        ],
        "description": "The encryption type of the wallet to import. Currently only supports `HPKE`.",
        "title": "HPKEEncryption",
        "x-stainless-model": "wallets.hpke_encryption"
      },
      "RecipientPublicKey": {
        "description": "The recipient public key for HPKE encryption, in PEM or DER (base64-encoded) format.",
        "title": "RecipientPublicKey",
        "x-stainless-model": "wallets.recipient_public_key",
        "oneOf": [
          {
            "type": "string",
            "pattern": "^-----BEGIN PUBLIC KEY-----\\n[A-Za-z0-9+/=\\n]+-----END PUBLIC KEY-----\\n$"
          },
          {
            "type": "string",
            "pattern": "^[A-Za-z0-9+/=]+$"
          }
        ]
      },
      "ExportType": {
        "type": "string",
        "enum": [
          "client",
          "display"
        ],
        "description": "The export type. 'display' is for showing the key to the user in the UI, 'client' is for exporting to the client application.",
        "title": "ExportType",
        "x-stainless-model": "wallets.export_type"
      },
      "PrivateKeyExportInput": {
        "type": "object",
        "properties": {
          "encryption_type": {
            "$ref": "#/components/schemas/HPKEEncryption"
          },
          "recipient_public_key": {
            "$ref": "#/components/schemas/RecipientPublicKey"
          },
          "export_type": {
            "$ref": "#/components/schemas/ExportType"
          },
          "export_seed_phrase": {
            "type": "boolean"
          }
        },
        "required": [
          "encryption_type",
          "recipient_public_key"
        ],
        "description": "Input for exporting a wallet (private key or seed phrase) with HPKE encryption.",
        "title": "PrivateKeyExportInput",
        "x-stainless-model": "wallets.private_key_export_input"
      },
      "PrivateKeyExportResponse": {
        "type": "object",
        "properties": {
          "encryption_type": {
            "$ref": "#/components/schemas/HPKEEncryption"
          },
          "ciphertext": {
            "type": "string"
          },
          "encapsulated_key": {
            "type": "string"
          }
        },
        "required": [
          "encryption_type",
          "ciphertext",
          "encapsulated_key"
        ],
        "description": "Response containing HPKE-encrypted wallet data (private key or seed phrase).",
        "title": "PrivateKeyExportResponse",
        "x-stainless-model": "wallets.private_key_export_response"
      },
      "SeedPhraseExportInput": {
        "type": "object",
        "properties": {
          "encryption_type": {
            "$ref": "#/components/schemas/HPKEEncryption"
          },
          "recipient_public_key": {
            "$ref": "#/components/schemas/RecipientPublicKey"
          },
          "export_type": {
            "$ref": "#/components/schemas/ExportType"
          },
          "export_seed_phrase": {
            "type": "boolean"
          }
        },
        "required": [
          "encryption_type",
          "recipient_public_key"
        ],
        "description": "Input for exporting a wallet (private key or seed phrase) with HPKE encryption.",
        "title": "SeedPhraseExportInput",
        "x-stainless-model": "wallets.seed_phrase_export_input"
      },
      "SeedPhraseExportResponse": {
        "type": "object",
        "properties": {
          "encryption_type": {
            "$ref": "#/components/schemas/HPKEEncryption"
          },
          "ciphertext": {
            "type": "string"
          },
          "encapsulated_key": {
            "type": "string"
          }
        },
        "required": [
          "encryption_type",
          "ciphertext",
          "encapsulated_key"
        ],
        "description": "Response containing HPKE-encrypted wallet data (private key or seed phrase).",
        "title": "SeedPhraseExportResponse",
        "x-stainless-model": "wallets.seed_phrase_export_response"
      },
      "WalletImportSupportedChains": {
        "type": "string",
        "enum": [
          "ethereum",
          "solana"
        ],
        "description": "The chain type of the wallet to import. Currently supports `ethereum` and `solana`.",
        "title": "WalletImportSupportedChains",
        "x-stainless-model": "wallets.wallet_import_supported_chains"
      },
      "WalletImportSupportedEntropyTypes": {
        "type": "string",
        "enum": [
          "hd",
          "private-key"
        ],
        "description": "The entropy type of the wallet to import. Supports `private-key` for raw private keys and `hd` for HD wallet seed phrases.",
        "title": "WalletImportSupportedEntropyTypes",
        "x-stainless-model": "wallets.wallet_import_supported_entropy_types"
      },
      "WalletImportInitResponse": {
        "type": "object",
        "properties": {
          "encryption_type": {
            "$ref": "#/components/schemas/HPKEEncryption"
          },
          "encryption_public_key": {
            "type": "string"
          },
          "import_id": {
            "type": "string"
          }
        },
        "required": [
          "encryption_type",
          "encryption_public_key"
        ],
        "description": "Response from initializing a wallet import, containing the encryption public key.",
        "title": "WalletImportInitResponse",
        "x-stainless-model": "wallets.wallet_import_init_response"
      },
      "HPKEAeadAlgorithm": {
        "type": "string",
        "enum": [
          "AES_GCM256",
          "CHACHA20_POLY1305"
        ],
        "description": "The AEAD algorithm used for HPKE encryption.",
        "title": "HPKEAeadAlgorithm",
        "x-stainless-model": "wallets.hpke_aead_algorithm"
      },
      "HPKEImportConfig": {
        "type": "object",
        "properties": {
          "aead_algorithm": {
            "allOf": [
              {
                "$ref": "#/components/schemas/HPKEAeadAlgorithm"
              },
              {
                "description": "The AEAD algorithm used for encryption. Defaults to CHACHA20_POLY1305 if not specified."
              }
            ]
          },
          "info": {
            "type": "string",
            "description": "Application-specific context information (INFO) used during HPKE encryption. Should be base64-encoded bytes."
          },
          "aad": {
            "type": "string",
            "description": "Additional Authenticated Data (AAD) used during encryption. Should be base64-encoded bytes."
          }
        },
        "description": "Optional HPKE configuration for wallet import decryption. These parameters allow importing wallets encrypted by external providers that use different HPKE configurations.",
        "title": "HPKEImportConfig",
        "x-stainless-model": "wallets.hpke_import_config"
      },
      "ExportPrivateKeyRpcInput": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "method": {
            "type": "string",
            "enum": [
              "exportPrivateKey"
            ]
          },
          "params": {
            "$ref": "#/components/schemas/PrivateKeyExportInput"
          }
        },
        "required": [
          "address",
          "method",
          "params"
        ],
        "description": "Exports the private key of the wallet.",
        "title": "ExportPrivateKeyRpcInput",
        "x-stainless-model": "wallets.export_private_key_rpc_input"
      },
      "ExportPrivateKeyRpcResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "exportPrivateKey"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/PrivateKeyExportInput"
          }
        },
        "required": [
          "method",
          "data"
        ],
        "description": "Response to the `exportPrivateKey` RPC.",
        "title": "ExportPrivateKeyRpcResponse",
        "x-stainless-model": "wallets.export_private_key_rpc_response"
      },
      "ExportSeedPhraseRpcInput": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "method": {
            "type": "string",
            "enum": [
              "exportSeedPhrase"
            ]
          },
          "params": {
            "$ref": "#/components/schemas/SeedPhraseExportInput"
          }
        },
        "required": [
          "address",
          "method",
          "params"
        ],
        "description": "Exports the seed phrase of the wallet.",
        "title": "ExportSeedPhraseRpcInput",
        "x-stainless-model": "wallets.export_seed_phrase_rpc_input"
      },
      "ExportSeedPhraseRpcResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "exportSeedPhrase"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/SeedPhraseExportResponse"
          }
        },
        "required": [
          "method",
          "data"
        ],
        "description": "Response to the `exportSeedPhrase` RPC.",
        "title": "ExportSeedPhraseRpcResponse",
        "x-stainless-model": "wallets.export_seed_phrase_rpc_response"
      },
      "RawSignHashParams": {
        "type": "object",
        "properties": {
          "hash": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Hex"
              },
              {
                "description": "The hash to sign."
              }
            ]
          }
        },
        "required": [
          "hash"
        ],
        "description": "Parameters for signing a pre-computed hash with the `raw_sign` RPC.",
        "title": "RawSignHashParams",
        "x-stainless-model": "wallets.raw_sign_hash_params"
      },
      "RawSignBytesEncoding": {
        "type": "string",
        "enum": [
          "base64",
          "hex",
          "utf-8"
        ],
        "description": "Encoding scheme for bytes in the `raw_sign` RPC.",
        "title": "RawSignBytesEncoding",
        "x-stainless-model": "wallets.raw_sign_bytes_encoding"
      },
      "RawSignBytesHashFunction": {
        "type": "string",
        "enum": [
          "blake2b256",
          "keccak256",
          "sha256"
        ],
        "description": "Hash function for bytes in the `raw_sign` RPC.",
        "title": "RawSignBytesHashFunction",
        "x-stainless-model": "wallets.raw_sign_bytes_hash_function"
      },
      "RawSignBytesParams": {
        "type": "object",
        "properties": {
          "bytes": {
            "type": "string",
            "maxLength": 100002,
            "description": "The bytes to hash and sign."
          },
          "encoding": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RawSignBytesEncoding"
              },
              {
                "description": "Encoding scheme for the bytes."
              }
            ]
          },
          "hash_function": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RawSignBytesHashFunction"
              },
              {
                "description": "Hash function to use for the bytes."
              }
            ]
          }
        },
        "required": [
          "bytes",
          "encoding",
          "hash_function"
        ],
        "description": "Parameters for hashing and signing bytes with the `raw_sign` RPC.",
        "title": "RawSignBytesParams",
        "x-stainless-model": "wallets.raw_sign_bytes_params"
      },
      "RawSignInputParams": {
        "description": "Parameters for the `raw_sign` RPC.",
        "title": "RawSignInputParams",
        "x-stainless-model": "wallets.raw_sign_input_params",
        "oneOf": [
          {
            "$ref": "#/components/schemas/RawSignHashParams"
          },
          {
            "$ref": "#/components/schemas/RawSignBytesParams"
          }
        ]
      },
      "RawSignInput": {
        "type": "object",
        "properties": {
          "params": {
            "$ref": "#/components/schemas/RawSignInputParams"
          }
        },
        "required": [
          "params"
        ],
        "description": "Provide either `hash` (to sign a pre-computed hash) OR `bytes`, `encoding`, and `hash_function` (to hash and then sign). These options are mutually exclusive.",
        "title": "RawSignInput",
        "x-stainless-model": "wallets.raw_sign_input"
      },
      "RawSignResponseData": {
        "type": "object",
        "properties": {
          "signature": {
            "$ref": "#/components/schemas/Hex"
          },
          "encoding": {
            "type": "string",
            "enum": [
              "hex"
            ]
          }
        },
        "required": [
          "signature",
          "encoding"
        ],
        "description": "Data returned by the `raw_sign` RPC.",
        "title": "RawSignResponseData",
        "x-stainless-model": "wallets.raw_sign_response_data"
      },
      "RawSignResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "raw_sign"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/RawSignResponseData"
          }
        },
        "required": [
          "method",
          "data"
        ],
        "description": "Response to the `raw_sign` RPC.",
        "title": "RawSignResponse",
        "x-stainless-model": "wallets.raw_sign_response"
      },
      "EthereumPersonalSignRpcInputParams": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "maxLength": 100002
          },
          "encoding": {
            "oneOf": [
              {
                "type": "string",
                "enum": [
                  "utf-8"
                ]
              },
              {
                "type": "string",
                "enum": [
                  "hex"
                ]
              }
            ]
          }
        },
        "required": [
          "message",
          "encoding"
        ],
        "description": "Parameters for the EVM `personal_sign` RPC.",
        "title": "EthereumPersonalSignRpcInputParams",
        "x-stainless-model": "wallets.ethereum_personal_sign_rpc_input_params"
      },
      "EthereumPersonalSignRpcInput": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "personal_sign"
            ]
          },
          "params": {
            "$ref": "#/components/schemas/EthereumPersonalSignRpcInputParams"
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "ethereum"
            ]
          },
          "wallet_id": {
            "type": "string"
          }
        },
        "required": [
          "method",
          "params"
        ],
        "description": "Executes the EVM `personal_sign` RPC (EIP-191) to sign a message.",
        "title": "EthereumPersonalSignRpcInput",
        "x-stainless-model": "wallets.ethereum_personal_sign_rpc_input"
      },
      "EthereumSignTransactionRpcInputParams": {
        "type": "object",
        "properties": {
          "transaction": {
            "$ref": "#/components/schemas/UnsignedEthereumTransaction"
          }
        },
        "required": [
          "transaction"
        ],
        "description": "Parameters for the EVM `eth_signTransaction` RPC.",
        "title": "EthereumSignTransactionRpcInputParams",
        "x-stainless-model": "wallets.ethereum_sign_transaction_rpc_input_params"
      },
      "EthereumSignTransactionRpcInput": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "eth_signTransaction"
            ]
          },
          "params": {
            "$ref": "#/components/schemas/EthereumSignTransactionRpcInputParams"
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "ethereum"
            ]
          },
          "wallet_id": {
            "type": "string"
          }
        },
        "required": [
          "method",
          "params"
        ],
        "description": "Executes the EVM `eth_signTransaction` RPC to sign a transaction.",
        "title": "EthereumSignTransactionRpcInput",
        "x-stainless-model": "wallets.ethereum_sign_transaction_rpc_input"
      },
      "EthereumSendTransactionRpcInputParams": {
        "type": "object",
        "properties": {
          "transaction": {
            "$ref": "#/components/schemas/UnsignedEthereumTransaction"
          }
        },
        "required": [
          "transaction"
        ],
        "description": "Parameters for the EVM `eth_sendTransaction` RPC.",
        "title": "EthereumSendTransactionRpcInputParams",
        "x-stainless-model": "wallets.ethereum_send_transaction_rpc_input_params"
      },
      "EthereumSendTransactionRpcInput": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "eth_sendTransaction"
            ]
          },
          "caip2": {
            "$ref": "#/components/schemas/CAIP2"
          },
          "params": {
            "$ref": "#/components/schemas/EthereumSendTransactionRpcInputParams"
          },
          "sponsor": {
            "type": "boolean"
          },
          "reference_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          },
          "experimental_data_suffix": {
            "$ref": "#/components/schemas/Hex"
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "ethereum"
            ]
          },
          "wallet_id": {
            "type": "string"
          }
        },
        "required": [
          "method",
          "caip2",
          "params"
        ],
        "description": "Executes the EVM `eth_sendTransaction` RPC to sign and broadcast a transaction.",
        "title": "EthereumSendTransactionRpcInput",
        "x-stainless-model": "wallets.ethereum_send_transaction_rpc_input"
      },
      "EthereumTypedDataInput": {
        "type": "object",
        "properties": {
          "domain": {
            "$ref": "#/components/schemas/TypedDataDomainInputParams"
          },
          "types": {
            "$ref": "#/components/schemas/TypedDataTypesInputParams"
          },
          "message": {
            "type": "object",
            "additionalProperties": {
              "x-stainless-any": true
            }
          },
          "primary_type": {
            "type": "string"
          }
        },
        "required": [
          "domain",
          "types",
          "message",
          "primary_type"
        ],
        "description": "EIP-712 typed data object.",
        "title": "EthereumTypedDataInput",
        "x-stainless-model": "wallets.ethereum_typed_data_input"
      },
      "EthereumSignTypedDataRpcInputParams": {
        "type": "object",
        "properties": {
          "typed_data": {
            "$ref": "#/components/schemas/EthereumTypedDataInput"
          }
        },
        "required": [
          "typed_data"
        ],
        "description": "Parameters for the EVM `eth_signTypedData_v4` RPC.",
        "title": "EthereumSignTypedDataRpcInputParams",
        "x-stainless-model": "wallets.ethereum_sign_typed_data_rpc_input_params"
      },
      "EthereumSignTypedDataRpcInput": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "eth_signTypedData_v4"
            ]
          },
          "params": {
            "$ref": "#/components/schemas/EthereumSignTypedDataRpcInputParams"
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "ethereum"
            ]
          },
          "wallet_id": {
            "type": "string"
          }
        },
        "required": [
          "method",
          "params"
        ],
        "description": "Executes the EVM `eth_signTypedData_v4` RPC (EIP-712) to sign a typed data object.",
        "title": "EthereumSignTypedDataRpcInput",
        "x-stainless-model": "wallets.ethereum_sign_typed_data_rpc_input"
      },
      "EthereumSecp256k1SignRpcInputParams": {
        "type": "object",
        "properties": {
          "hash": {
            "$ref": "#/components/schemas/Hex"
          }
        },
        "required": [
          "hash"
        ],
        "description": "Parameters for the EVM `secp256k1_sign` RPC.",
        "title": "EthereumSecp256k1SignRpcInputParams",
        "x-stainless-model": "wallets.ethereum_secp_256k_1_sign_rpc_input_params"
      },
      "EthereumSecp256k1SignRpcInput": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "secp256k1_sign"
            ]
          },
          "params": {
            "$ref": "#/components/schemas/EthereumSecp256k1SignRpcInputParams"
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "ethereum"
            ]
          },
          "wallet_id": {
            "type": "string"
          }
        },
        "required": [
          "method",
          "params"
        ],
        "description": "Signs a raw hash on the secp256k1 curve.",
        "title": "EthereumSecp256k1SignRpcInput",
        "x-stainless-model": "wallets.ethereum_secp_256k_1_sign_rpc_input"
      },
      "EthereumSign7702AuthorizationRpcInputParams": {
        "type": "object",
        "properties": {
          "contract": {
            "type": "string"
          },
          "chain_id": {
            "$ref": "#/components/schemas/Quantity"
          },
          "nonce": {
            "$ref": "#/components/schemas/Quantity"
          },
          "executor": {
            "type": "string",
            "enum": [
              "self"
            ]
          }
        },
        "required": [
          "contract",
          "chain_id"
        ],
        "description": "Parameters for the EVM `eth_sign7702Authorization` RPC.",
        "title": "EthereumSign7702AuthorizationRpcInputParams",
        "x-stainless-model": "wallets.ethereum_sign_7702_authorization_rpc_input_params"
      },
      "EthereumSign7702AuthorizationRpcInput": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "eth_sign7702Authorization"
            ]
          },
          "params": {
            "$ref": "#/components/schemas/EthereumSign7702AuthorizationRpcInputParams"
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "ethereum"
            ]
          },
          "wallet_id": {
            "type": "string"
          }
        },
        "required": [
          "method",
          "params"
        ],
        "description": "Signs an EIP-7702 authorization.",
        "title": "EthereumSign7702AuthorizationRpcInput",
        "x-stainless-model": "wallets.ethereum_sign_7702_authorization_rpc_input"
      },
      "EthereumSignUserOperationRpcInputParams": {
        "type": "object",
        "properties": {
          "contract": {
            "type": "string"
          },
          "user_operation": {
            "$ref": "#/components/schemas/UserOperationInput"
          },
          "chain_id": {
            "$ref": "#/components/schemas/Quantity"
          }
        },
        "required": [
          "contract",
          "user_operation",
          "chain_id"
        ],
        "description": "Parameters for the EVM `eth_signUserOperation` RPC.",
        "title": "EthereumSignUserOperationRpcInputParams",
        "x-stainless-model": "wallets.ethereum_sign_user_operation_rpc_input_params"
      },
      "EthereumSignUserOperationRpcInput": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "eth_signUserOperation"
            ]
          },
          "params": {
            "$ref": "#/components/schemas/EthereumSignUserOperationRpcInputParams"
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "ethereum"
            ]
          },
          "wallet_id": {
            "type": "string"
          }
        },
        "required": [
          "method",
          "params"
        ],
        "description": "Executes an RPC method to hash and sign a UserOperation.",
        "title": "EthereumSignUserOperationRpcInput",
        "x-stainless-model": "wallets.ethereum_sign_user_operation_rpc_input"
      },
      "EthereumSendCallsCall": {
        "type": "object",
        "properties": {
          "to": {
            "type": "string"
          },
          "value": {
            "$ref": "#/components/schemas/Quantity"
          },
          "data": {
            "$ref": "#/components/schemas/Hex"
          }
        },
        "required": [
          "to"
        ],
        "description": "A single call within a batched wallet_sendCalls request.",
        "title": "EthereumSendCallsCall",
        "x-stainless-model": "wallets.ethereum_send_calls_call"
      },
      "EthereumSendCallsRpcInputParams": {
        "type": "object",
        "properties": {
          "calls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EthereumSendCallsCall"
            },
            "minItems": 1,
            "maxItems": 35
          }
        },
        "required": [
          "calls"
        ],
        "description": "Parameters for the `wallet_sendCalls` RPC.",
        "title": "EthereumSendCallsRpcInputParams",
        "x-stainless-model": "wallets.ethereum_send_calls_rpc_input_params"
      },
      "EthereumSendCallsRpcInput": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "wallet_sendCalls"
            ]
          },
          "caip2": {
            "$ref": "#/components/schemas/CAIP2"
          },
          "params": {
            "$ref": "#/components/schemas/EthereumSendCallsRpcInputParams"
          },
          "sponsor": {
            "type": "boolean"
          },
          "experimental_data_suffix": {
            "$ref": "#/components/schemas/Hex"
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "ethereum"
            ]
          },
          "wallet_id": {
            "type": "string"
          }
        },
        "required": [
          "method",
          "caip2",
          "params"
        ],
        "description": "Executes the `wallet_sendCalls` RPC (EIP-5792) to batch multiple calls into a single atomic transaction.",
        "title": "EthereumSendCallsRpcInput",
        "x-stainless-model": "wallets.ethereum_send_calls_rpc_input"
      },
      "EthereumRpcInput": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/EthereumSignTransactionRpcInput"
          },
          {
            "$ref": "#/components/schemas/EthereumSendTransactionRpcInput"
          },
          {
            "$ref": "#/components/schemas/EthereumPersonalSignRpcInput"
          },
          {
            "$ref": "#/components/schemas/EthereumSignTypedDataRpcInput"
          },
          {
            "$ref": "#/components/schemas/EthereumSecp256k1SignRpcInput"
          },
          {
            "$ref": "#/components/schemas/EthereumSign7702AuthorizationRpcInput"
          },
          {
            "$ref": "#/components/schemas/EthereumSignUserOperationRpcInput"
          },
          {
            "$ref": "#/components/schemas/EthereumSendCallsRpcInput"
          }
        ],
        "discriminator": {
          "propertyName": "method",
          "mapping": {
            "eth_signTransaction": "#/components/schemas/EthereumSignTransactionRpcInput",
            "eth_sendTransaction": "#/components/schemas/EthereumSendTransactionRpcInput",
            "personal_sign": "#/components/schemas/EthereumPersonalSignRpcInput",
            "eth_signTypedData_v4": "#/components/schemas/EthereumSignTypedDataRpcInput",
            "secp256k1_sign": "#/components/schemas/EthereumSecp256k1SignRpcInput",
            "eth_sign7702Authorization": "#/components/schemas/EthereumSign7702AuthorizationRpcInput",
            "eth_signUserOperation": "#/components/schemas/EthereumSignUserOperationRpcInput",
            "wallet_sendCalls": "#/components/schemas/EthereumSendCallsRpcInput"
          }
        },
        "description": "Request body for Ethereum wallet RPC operations, discriminated by method.",
        "title": "EthereumRpcInput",
        "x-stainless-model": "wallets.ethereum_rpc_input"
      },
      "EthereumPersonalSignRpcResponseData": {
        "type": "object",
        "properties": {
          "signature": {
            "type": "string"
          },
          "encoding": {
            "type": "string",
            "enum": [
              "hex"
            ]
          }
        },
        "required": [
          "signature",
          "encoding"
        ],
        "description": "Data returned by the EVM `personal_sign` RPC.",
        "title": "EthereumPersonalSignRpcResponseData",
        "x-stainless-model": "wallets.ethereum_personal_sign_rpc_response_data"
      },
      "EthereumPersonalSignRpcResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "personal_sign"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/EthereumPersonalSignRpcResponseData"
          }
        },
        "required": [
          "method",
          "data"
        ],
        "description": "Response to the EVM `personal_sign` RPC.",
        "title": "EthereumPersonalSignRpcResponse",
        "x-stainless-model": "wallets.ethereum_personal_sign_rpc_response"
      },
      "EthereumSignTransactionRpcResponseData": {
        "type": "object",
        "properties": {
          "signed_transaction": {
            "type": "string"
          },
          "encoding": {
            "type": "string",
            "enum": [
              "rlp"
            ]
          }
        },
        "required": [
          "signed_transaction",
          "encoding"
        ],
        "description": "Data returned by the EVM `eth_signTransaction` RPC.",
        "title": "EthereumSignTransactionRpcResponseData",
        "x-stainless-model": "wallets.ethereum_sign_transaction_rpc_response_data"
      },
      "EthereumSignTransactionRpcResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "eth_signTransaction"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/EthereumSignTransactionRpcResponseData"
          }
        },
        "required": [
          "method",
          "data"
        ],
        "description": "Response to the EVM `eth_signTransaction` RPC.",
        "title": "EthereumSignTransactionRpcResponse",
        "x-stainless-model": "wallets.ethereum_sign_transaction_rpc_response"
      },
      "EthereumSendTransactionRpcResponseData": {
        "type": "object",
        "properties": {
          "transaction_id": {
            "type": "string"
          },
          "hash": {
            "type": "string"
          },
          "caip2": {
            "$ref": "#/components/schemas/CAIP2"
          },
          "transaction_request": {
            "$ref": "#/components/schemas/UnsignedEthereumTransaction"
          },
          "user_operation_hash": {
            "type": "string"
          },
          "reference_id": {
            "type": "string"
          }
        },
        "required": [
          "hash",
          "caip2"
        ],
        "description": "Data returned by the EVM `eth_sendTransaction` RPC.",
        "title": "EthereumSendTransactionRpcResponseData",
        "x-stainless-model": "wallets.ethereum_send_transaction_rpc_response_data"
      },
      "EthereumSendTransactionRpcResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "eth_sendTransaction"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/EthereumSendTransactionRpcResponseData"
          }
        },
        "required": [
          "method",
          "data"
        ],
        "description": "Response to the EVM `eth_sendTransaction` RPC.",
        "title": "EthereumSendTransactionRpcResponse",
        "x-stainless-model": "wallets.ethereum_send_transaction_rpc_response"
      },
      "EthereumSignTypedDataRpcResponseData": {
        "type": "object",
        "properties": {
          "signature": {
            "type": "string"
          },
          "encoding": {
            "type": "string",
            "enum": [
              "hex"
            ]
          }
        },
        "required": [
          "signature",
          "encoding"
        ],
        "description": "Data returned by the EVM `eth_signTypedData_v4` RPC.",
        "title": "EthereumSignTypedDataRpcResponseData",
        "x-stainless-model": "wallets.ethereum_sign_typed_data_rpc_response_data"
      },
      "EthereumSignTypedDataRpcResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "eth_signTypedData_v4"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/EthereumSignTypedDataRpcResponseData"
          }
        },
        "required": [
          "method",
          "data"
        ],
        "description": "Response to the EVM `eth_signTypedData_v4` RPC.",
        "title": "EthereumSignTypedDataRpcResponse",
        "x-stainless-model": "wallets.ethereum_sign_typed_data_rpc_response"
      },
      "EthereumSecp256k1SignRpcResponseData": {
        "type": "object",
        "properties": {
          "signature": {
            "$ref": "#/components/schemas/Hex"
          },
          "encoding": {
            "type": "string",
            "enum": [
              "hex"
            ]
          }
        },
        "required": [
          "signature",
          "encoding"
        ],
        "description": "Data returned by the EVM `secp256k1_sign` RPC.",
        "title": "EthereumSecp256k1SignRpcResponseData",
        "x-stainless-model": "wallets.ethereum_secp_256k_1_sign_rpc_response_data"
      },
      "EthereumSecp256k1SignRpcResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "secp256k1_sign"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/EthereumSecp256k1SignRpcResponseData"
          }
        },
        "required": [
          "method",
          "data"
        ],
        "description": "Response to the EVM `secp256k1_sign` RPC.",
        "title": "EthereumSecp256k1SignRpcResponse",
        "x-stainless-model": "wallets.ethereum_secp_256k_1_sign_rpc_response"
      },
      "EthereumSign7702AuthorizationRpcResponseData": {
        "type": "object",
        "properties": {
          "authorization": {
            "$ref": "#/components/schemas/EthereumSign7702Authorization"
          }
        },
        "required": [
          "authorization"
        ],
        "description": "Data returned by the EVM `eth_sign7702Authorization` RPC.",
        "title": "EthereumSign7702AuthorizationRpcResponseData",
        "x-stainless-model": "wallets.ethereum_sign_7702_authorization_rpc_response_data"
      },
      "EthereumSign7702AuthorizationRpcResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "eth_sign7702Authorization"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/EthereumSign7702AuthorizationRpcResponseData"
          }
        },
        "required": [
          "method",
          "data"
        ],
        "description": "Response to the EVM `eth_sign7702Authorization` RPC.",
        "title": "EthereumSign7702AuthorizationRpcResponse",
        "x-stainless-model": "wallets.ethereum_sign_7702_authorization_rpc_response"
      },
      "EthereumSignUserOperationRpcResponseData": {
        "type": "object",
        "properties": {
          "signature": {
            "type": "string"
          },
          "encoding": {
            "type": "string",
            "enum": [
              "hex"
            ]
          }
        },
        "required": [
          "signature",
          "encoding"
        ],
        "description": "Data returned by the EVM `eth_signUserOperation` RPC.",
        "title": "EthereumSignUserOperationRpcResponseData",
        "x-stainless-model": "wallets.ethereum_sign_user_operation_rpc_response_data"
      },
      "EthereumSignUserOperationRpcResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "eth_signUserOperation"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/EthereumSignUserOperationRpcResponseData"
          }
        },
        "required": [
          "method",
          "data"
        ],
        "description": "Response to the EVM `eth_signUserOperation` RPC.",
        "title": "EthereumSignUserOperationRpcResponse",
        "x-stainless-model": "wallets.ethereum_sign_user_operation_rpc_response"
      },
      "EthereumSendCallsRpcResponseData": {
        "type": "object",
        "properties": {
          "transaction_id": {
            "type": "string"
          },
          "caip2": {
            "$ref": "#/components/schemas/CAIP2"
          }
        },
        "required": [
          "transaction_id",
          "caip2"
        ],
        "description": "Data returned by the `wallet_sendCalls` RPC.",
        "title": "EthereumSendCallsRpcResponseData",
        "x-stainless-model": "wallets.ethereum_send_calls_rpc_response_data"
      },
      "EthereumSendCallsRpcResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "wallet_sendCalls"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/EthereumSendCallsRpcResponseData"
          }
        },
        "required": [
          "method",
          "data"
        ],
        "description": "Response to the `wallet_sendCalls` RPC.",
        "title": "EthereumSendCallsRpcResponse",
        "x-stainless-model": "wallets.ethereum_send_calls_rpc_response"
      },
      "EthereumRpcResponse": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/EthereumPersonalSignRpcResponse"
          },
          {
            "$ref": "#/components/schemas/EthereumSignTypedDataRpcResponse"
          },
          {
            "$ref": "#/components/schemas/EthereumSignTransactionRpcResponse"
          },
          {
            "$ref": "#/components/schemas/EthereumSendTransactionRpcResponse"
          },
          {
            "$ref": "#/components/schemas/EthereumSignUserOperationRpcResponse"
          },
          {
            "$ref": "#/components/schemas/EthereumSign7702AuthorizationRpcResponse"
          },
          {
            "$ref": "#/components/schemas/EthereumSecp256k1SignRpcResponse"
          },
          {
            "$ref": "#/components/schemas/EthereumSendCallsRpcResponse"
          }
        ],
        "discriminator": {
          "propertyName": "method",
          "mapping": {
            "personal_sign": "#/components/schemas/EthereumPersonalSignRpcResponse",
            "eth_signTypedData_v4": "#/components/schemas/EthereumSignTypedDataRpcResponse",
            "eth_signTransaction": "#/components/schemas/EthereumSignTransactionRpcResponse",
            "eth_sendTransaction": "#/components/schemas/EthereumSendTransactionRpcResponse",
            "eth_signUserOperation": "#/components/schemas/EthereumSignUserOperationRpcResponse",
            "eth_sign7702Authorization": "#/components/schemas/EthereumSign7702AuthorizationRpcResponse",
            "secp256k1_sign": "#/components/schemas/EthereumSecp256k1SignRpcResponse",
            "wallet_sendCalls": "#/components/schemas/EthereumSendCallsRpcResponse"
          }
        },
        "description": "Response body for Ethereum wallet RPC operations, discriminated by method.",
        "title": "EthereumRpcResponse",
        "x-stainless-model": "wallets.ethereum_rpc_response"
      },
      "SolanaSignTransactionRpcInputParams": {
        "type": "object",
        "properties": {
          "transaction": {
            "type": "string",
            "maxLength": 100002
          },
          "encoding": {
            "type": "string",
            "enum": [
              "base64"
            ]
          }
        },
[...]
