{
  "openapi": "3.0.0",
  "info": {
    "version": "0.0.1",
    "title": "Privy API",
    "contact": {
      "email": "support@privy.io"
    }
  },
  "tags": [
    {
      "name": "Wallets",
      "description": "Operations related to wallets"
    },
    {
      "name": "Policies",
      "description": "Operations related to policies"
    },
    {
      "name": "Condition Sets",
      "description": "Operations related to condition sets"
    },
    {
      "name": "Transactions",
      "description": "Operations related to transactions"
    },
    {
      "name": "Key quorums",
      "description": "Operations related to key quorums"
    },
    {
      "name": "Users",
      "description": "Operations related to users"
    },
    {
      "name": "User signers",
      "description": "Operations related to user signers"
    },
    {
      "name": "Fiat",
      "description": "Operations related to fiat onramping and offramping"
    },
    {
      "name": "Kraken Embed",
      "description": "Operations for Kraken Embed integration, including quotes, trades, user management, and portfolio operations"
    },
    {
      "name": "Auth",
      "description": "Operations related to user authentication"
    },
    {
      "name": "Auth.passkeys",
      "description": "Operations related to user authentication with passkeys"
    },
    {
      "name": "Auth.passwordless",
      "description": "Operations related to user authentication with passwordless email"
    }
  ],
  "servers": [
    {
      "url": "https://api.privy.io"
    }
  ],
  "components": {
    "securitySchemes": {
      "appSecretAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic Auth header with your app ID as the username and your app secret as the password."
      }
    },
    "schemas": {
      "CurveSigningChainType": {
        "type": "string",
        "enum": [
          "aptos",
          "bitcoin-segwit",
          "cosmos",
          "movement",
          "near",
          "starknet",
          "stellar",
          "sui",
          "ton",
          "tron"
        ],
        "description": "The wallet chain types that support curve-based signing.",
        "title": "CurveSigningChainType",
        "x-stainless-model": "wallets.curve_signing_chain_type"
      },
      "ExtendedChainType": {
        "type": "string",
        "enum": [
          "aptos",
          "bitcoin-segwit",
          "cosmos",
          "movement",
          "near",
          "spark",
          "starknet",
          "stellar",
          "sui",
          "ton",
          "tron"
        ],
        "description": "The wallet chain types that are not first class chains.",
        "title": "ExtendedChainType",
        "x-stainless-model": "wallets.extended_chain_type"
      },
      "FirstClassChainType": {
        "type": "string",
        "enum": [
          "ethereum",
          "solana"
        ],
        "description": "The wallet chain types that offer first class support.",
        "title": "FirstClassChainType",
        "x-stainless-model": "wallets.first_class_chain_type"
      },
      "WalletChainType": {
        "type": "string",
        "enum": [
          "aptos",
          "bitcoin-segwit",
          "cosmos",
          "ethereum",
          "movement",
          "near",
          "solana",
          "spark",
          "starknet",
          "stellar",
          "sui",
          "ton",
          "tron"
        ],
        "description": "The wallet chain types.",
        "title": "WalletChainType",
        "x-stainless-model": "wallets.wallet_chain_type"
      },
      "OwnerInput": {
        "description": "The owner of the resource. If you provide this, do not specify an owner_id as it will be generated automatically. When updating a wallet, you can set the owner to null to remove the owner.",
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "public_key": {
                "type": "string"
              }
            },
            "required": [
              "public_key"
            ],
            "description": "The P-256 public key of the owner of the resource, in base64-encoded DER format. If you provide this, do not specify an owner_id as it will be generated automatically.",
            "title": "Public key owner"
          },
          {
            "type": "object",
            "properties": {
              "user_id": {
                "type": "string"
              }
            },
            "required": [
              "user_id"
            ],
            "description": "The user ID of the owner of the resource. The user must already exist, and this value must start with \"did:privy:\". If you provide this, do not specify an owner_id as it will be generated automatically.",
            "title": "User owner"
          }
        ]
      },
      "OwnerIdInput": {
        "type": "string",
        "description": "The key quorum ID to set as the owner of the resource. If you provide this, do not specify an owner."
      },
      "ExternalOAuthProviderID": {
        "type": "string",
        "enum": [
          "apple",
          "discord",
          "github",
          "google",
          "instagram",
          "line",
          "linkedin",
          "spotify",
          "tiktok",
          "twitch",
          "twitter"
        ],
        "description": "The ID of an external OAuth provider.",
        "title": "ExternalOAuthProviderID",
        "x-stainless-model": "client_auth.external_oauth_provider_id"
      },
      "PrivyOAuthProviderID": {
        "type": "string",
        "description": "The ID of a Privy app as an OAuth provider. Must start with \"privy:\".",
        "title": "PrivyOAuthProviderID",
        "x-stainless-model": "client_auth.privy_oauth_provider_id"
      },
      "CustomOAuthProviderID": {
        "type": "string",
        "description": "The ID of a custom OAuth provider, set up for this app. Must start with \"custom:\".",
        "title": "CustomOAuthProviderID",
        "x-stainless-model": "client_auth.custom_oauth_provider_id"
      },
      "OAuthProviderID": {
        "description": "The ID of an OAuth provider.",
        "title": "OAuthProviderID",
        "x-stainless-model": "client_auth.oauth_provider_id",
        "oneOf": [
          {
            "$ref": "#/components/schemas/ExternalOAuthProviderID"
          },
          {
            "$ref": "#/components/schemas/PrivyOAuthProviderID"
          },
          {
            "$ref": "#/components/schemas/CustomOAuthProviderID"
          }
        ]
      },
      "AnalyticsEventInput": {
        "type": "object",
        "properties": {
          "event_name": {
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-z0-9_-]+$"
          },
          "client_id": {
            "type": "string",
            "format": "uuid"
          },
          "payload": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        },
        "required": [
          "event_name"
        ],
        "description": "The input for capturing an analytics event.",
        "title": "AnalyticsEventInput",
        "x-stainless-model": "analytics.analytics_event_input"
      },
      "WalletCustodian": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ],
        "description": "Information about the custodian managing this wallet.",
        "title": "WalletCustodian",
        "x-stainless-model": "wallets.wallet_custodian"
      },
      "AppResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "logo_url": {
            "type": "string",
            "nullable": true
          },
          "icon_url": {
            "type": "string",
            "nullable": true
          },
          "terms_and_conditions_url": {
            "type": "string",
            "nullable": true
          },
          "privacy_policy_url": {
            "type": "string",
            "nullable": true
          },
          "require_users_accept_terms": {
            "type": "boolean",
            "nullable": true
          },
          "theme": {
            "type": "string"
          },
          "accent_color": {
            "type": "string",
            "nullable": true
          },
          "show_wallet_login_first": {
            "type": "boolean"
          },
          "allowed_domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allowed_native_app_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allowed_native_app_url_schemes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "wallet_auth": {
            "type": "boolean"
          },
          "email_auth": {
            "type": "boolean"
          },
          "sms_auth": {
            "type": "boolean"
          },
          "google_oauth": {
            "type": "boolean"
          },
          "twitter_oauth": {
            "type": "boolean"
          },
          "discord_oauth": {
            "type": "boolean"
          },
          "github_oauth": {
            "type": "boolean"
          },
          "spotify_oauth": {
            "type": "boolean"
          },
          "instagram_oauth": {
            "type": "boolean"
          },
          "tiktok_oauth": {
            "type": "boolean"
          },
          "line_oauth": {
            "type": "boolean"
          },
          "twitch_oauth": {
            "type": "boolean"
          },
          "linkedin_oauth": {
            "type": "boolean"
          },
          "apple_oauth": {
            "type": "boolean"
          },
          "custom_oauth_providers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "provider": {
                  "$ref": "#/components/schemas/CustomOAuthProviderID"
                },
                "provider_display_name": {
                  "type": "string"
                },
                "provider_icon_url": {
                  "type": "string"
                },
                "enabled": {
                  "type": "boolean"
                }
              },
              "required": [
                "provider",
                "provider_display_name",
                "provider_icon_url",
                "enabled"
              ]
            }
          },
          "farcaster_auth": {
            "type": "boolean"
          },
          "passkey_auth": {
            "type": "boolean"
          },
          "passkeys_for_signup_enabled": {
            "type": "boolean"
          },
          "telegram_auth": {
            "type": "boolean"
          },
          "guest_auth": {
            "type": "boolean"
          },
          "solana_wallet_auth": {
            "type": "boolean"
          },
          "custom_jwt_auth": {
            "type": "boolean"
          },
          "disable_plus_emails": {
            "type": "boolean"
          },
          "allowlist_enabled": {
            "type": "boolean"
          },
          "allowlist_config": {
            "type": "object",
            "properties": {
              "error_title": {
                "type": "string",
                "nullable": true
              },
              "error_detail": {
                "type": "string",
                "nullable": true
              },
              "cta_text": {
                "type": "string",
                "nullable": true
              },
              "cta_link": {
                "type": "string",
                "nullable": true
              }
            },
            "required": [
              "error_title",
              "error_detail",
              "cta_text",
              "cta_link"
            ]
          },
          "wallet_connect_cloud_project_id": {
            "type": "string",
            "nullable": true
          },
          "custom_api_url": {
            "type": "string",
            "nullable": true
          },
          "embedded_wallet_config": {
            "type": "object",
            "properties": {
              "create_on_login": {
                "type": "string",
                "enum": [
                  "all-users",
                  "off",
                  "users-without-wallets"
                ]
              },
              "ethereum": {
                "type": "object",
                "properties": {
                  "create_on_login": {
                    "type": "string",
                    "enum": [
                      "all-users",
                      "off",
                      "users-without-wallets"
                    ]
                  }
                },
                "required": [
                  "create_on_login"
                ]
              },
              "solana": {
                "type": "object",
                "properties": {
                  "create_on_login": {
                    "type": "string",
                    "enum": [
                      "all-users",
                      "off",
                      "users-without-wallets"
                    ]
                  }
                },
                "required": [
                  "create_on_login"
                ]
              },
              "user_owned_recovery_options": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "google-drive",
                    "icloud",
                    "user-passcode"
                  ]
                }
              },
              "require_user_owned_recovery_on_create": {
                "type": "boolean"
              },
              "require_user_password_on_create": {
                "type": "boolean"
              },
              "mode": {
                "type": "string",
                "enum": [
                  "legacy-embedded-wallets-only",
                  "user-controlled-server-wallets-only"
                ]
              }
            },
            "required": [
              "create_on_login",
              "ethereum",
              "solana",
              "user_owned_recovery_options",
              "mode"
            ]
          },
          "enforce_wallet_uis": {
            "type": "boolean"
          },
          "legacy_wallet_ui_config": {
            "type": "boolean"
          },
          "fiat_on_ramp_enabled": {
            "type": "boolean"
          },
          "captcha_enabled": {
            "type": "boolean"
          },
          "enabled_captcha_provider": {
            "type": "string",
            "nullable": true,
            "enum": [
              "hcaptcha",
              "turnstile"
            ]
          },
          "twitter_oauth_on_mobile_enabled": {
            "type": "boolean"
          },
          "mfa_methods": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "passkey",
                "sms",
                "totp"
              ]
            }
          },
          "captcha_site_key": {
            "type": "string"
          },
          "verification_key": {
            "type": "string"
          },
          "telegram_auth_config": {
            "type": "object",
            "properties": {
              "bot_id": {
                "type": "string"
              },
              "bot_name": {
                "type": "string"
              },
              "link_enabled": {
                "type": "boolean"
              },
              "seamless_auth_enabled": {
                "type": "boolean"
              }
            },
            "required": [
              "bot_id",
              "bot_name",
              "link_enabled",
              "seamless_auth_enabled"
            ]
          },
          "funding_config": {
            "type": "object",
            "properties": {
              "default_recommended_currency": {
                "type": "object",
                "properties": {
                  "chain": {
                    "type": "string"
                  },
                  "asset": {
                    "type": "string",
                    "enum": [
                      "USDC",
                      "native-currency"
                    ]
                  }
                },
                "required": [
                  "chain"
                ]
              },
              "default_recommended_amount": {
                "type": "string"
              },
              "methods": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "coinbase-onramp",
                    "external",
                    "moonpay"
                  ]
                }
              },
              "options": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "method": {
                      "type": "string"
                    },
                    "provider": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "method",
                    "provider"
                  ]
                }
              },
              "prompt_funding_on_wallet_creation": {
                "type": "boolean"
              },
              "cross_chain_bridging_enabled": {
                "type": "boolean"
              }
            },
            "required": [
              "default_recommended_currency",
              "default_recommended_amount",
              "methods",
              "options",
              "prompt_funding_on_wallet_creation",
              "cross_chain_bridging_enabled"
            ]
          },
          "max_linked_wallets_per_user": {
            "type": "number",
            "nullable": true
          },
          "farcaster_link_wallets_enabled": {
            "type": "boolean"
          },
          "whatsapp_enabled": {
            "type": "boolean"
          },
          "smart_wallet_config": {
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "enabled": {
                    "type": "boolean",
                    "enum": [
                      false
                    ]
                  }
                },
                "required": [
                  "enabled"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "enabled": {
                    "type": "boolean",
                    "enum": [
                      true
                    ]
                  },
                  "smart_wallet_type": {
                    "type": "string",
                    "enum": [
                      "biconomy",
                      "coinbase_smart_wallet",
                      "kernel",
                      "light_account",
                      "safe",
                      "thirdweb"
                    ]
                  },
                  "smart_wallet_version": {
                    "type": "string"
                  },
                  "configured_networks": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "chain_id": {
                          "type": "string",
                          "pattern": "^eip155:\\d+$"
                        },
                        "bundler_url": {
                          "type": "string"
                        },
                        "paymaster_url": {
                          "type": "string"
                        },
                        "rpc_url": {
                          "type": "string"
                        },
                        "chain_name": {
                          "type": "string"
                        },
                        "paymaster_context": {
                          "type": "object",
                          "properties": {
                            "policy_id": {
                              "type": "string",
                              "format": "uuid"
                            }
                          },
                          "required": [
                            "policy_id"
                          ]
                        }
                      },
                      "required": [
                        "chain_id",
                        "bundler_url"
                      ]
                    },
                    "minItems": 1
                  }
                },
                "required": [
                  "enabled",
                  "smart_wallet_type",
                  "configured_networks"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "name",
          "logo_url",
          "icon_url",
          "terms_and_conditions_url",
          "privacy_policy_url",
          "require_users_accept_terms",
          "theme",
          "accent_color",
          "show_wallet_login_first",
          "allowed_domains",
          "allowed_native_app_ids",
          "allowed_native_app_url_schemes",
          "wallet_auth",
          "email_auth",
          "sms_auth",
          "google_oauth",
          "twitter_oauth",
          "discord_oauth",
          "github_oauth",
          "spotify_oauth",
          "instagram_oauth",
          "tiktok_oauth",
          "line_oauth",
          "twitch_oauth",
          "linkedin_oauth",
          "apple_oauth",
          "custom_oauth_providers",
          "farcaster_auth",
          "passkey_auth",
          "passkeys_for_signup_enabled",
          "telegram_auth",
          "guest_auth",
          "solana_wallet_auth",
          "custom_jwt_auth",
          "disable_plus_emails",
          "allowlist_enabled",
          "allowlist_config",
          "wallet_connect_cloud_project_id",
          "custom_api_url",
          "embedded_wallet_config",
          "enforce_wallet_uis",
          "legacy_wallet_ui_config",
          "fiat_on_ramp_enabled",
          "captcha_enabled",
          "enabled_captcha_provider",
          "twitter_oauth_on_mobile_enabled",
          "mfa_methods",
          "verification_key",
          "max_linked_wallets_per_user",
          "farcaster_link_wallets_enabled",
          "whatsapp_enabled",
          "smart_wallet_config"
        ],
        "description": "The response for getting an app.",
        "title": "AppResponse",
        "x-stainless-model": "apps.app_response"
      },
      "KrakenEmbedGetAssetListQueryParamsSchema": {
        "type": "object",
        "properties": {
          "filter[user]": {
            "type": "string"
          },
          "filter[assets]": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 16
            }
          },
          "filter[platform_statuses]": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "string",
                  "enum": [
                    "deposit_only",
                    "disabled",
                    "enabled",
                    "funding_temporarily_disabled",
                    "withdrawal_only"
                  ]
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          "filter[tradable_only]": {
            "type": "boolean",
            "nullable": true
          },
          "quote": {
            "type": "string",
            "maxLength": 16
          },
          "sort": {
            "type": "string",
            "enum": [
              "-change_percent_1h",
              "-change_percent_1y",
              "-change_percent_24h",
              "-change_percent_30d",
              "-change_percent_7d",
              "-listing_date",
              "-market_cap_rank",
              "-name",
              "-symbol",
              "change_percent_1h",
              "change_percent_1y",
              "change_percent_24h",
              "change_percent_30d",
              "change_percent_7d",
              "listing_date",
              "market_cap_rank",
              "name",
              "symbol",
              "trending"
            ]
          },
          "page[size]": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "page[number]": {
            "type": "integer",
            "minimum": 1
          },
          "lang": {
            "type": "string",
            "pattern": "^([a-zA-Z]{1,8})(-[a-zA-Z\\d]{1,8})*$"
          }
        },
        "description": "Query parameters for listing and filtering available assets.",
        "example": {
          "filter[user]": "cmdnvsfxa0007jt0jy61eghjk",
          "quote": "USD",
          "filter[tradable_only]": true,
          "page[size]": 50
        }
      },
      "KrakenEmbedGetPortfolioDetailsQueryParamsSchema": {
        "type": "object",
        "properties": {
          "quote": {
            "type": "string",
            "maxLength": 16
          }
        },
        "description": "Query parameters for portfolio details endpoint.",
        "example": {
          "quote": "USD"
        }
      },
      "KrakenEmbedGetPortfolioTransactionsQueryParamsSchema": {
        "type": "object",
        "properties": {
          "cursor": {
            "type": "string"
          },
          "types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "earn_reward",
                "simple_order",
                "simple_order_failed"
              ]
            }
          },
          "page_size": {
            "type": "integer",
            "minimum": 1,
            "maximum": 25
          },
          "assets": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 16
            }
          },
          "from_time": {
            "type": "string",
            "format": "date-time"
          },
          "until_time": {
            "type": "string",
            "format": "date-time"
          },
          "statuses": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "failed",
                "in_progress",
                "successful",
                "unspecified"
              ]
            }
          },
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sorting": {
            "type": "string",
            "enum": [
              "ascending",
              "descending"
            ]
          },
          "ref_ids": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "simple_order_quote"
                  ]
                },
                "ref_id": {
                  "type": "string"
                }
              },
              "required": [
                "type",
                "ref_id"
              ]
            }
          },
          "quote": {
            "type": "string",
            "maxLength": 16
          }
        },
        "description": "Query parameters for filtering and paginating portfolio transactions.",
        "example": {
          "page_size": 20,
          "sorting": "descending",
          "statuses": [
            "successful"
          ]
        }
      },
      "KrakenEmbedGetQuoteQueryParams": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string",
            "minLength": 1,
            "description": "The ID of the Privy user."
          }
        },
        "required": [
          "user_id"
        ],
        "example": {
          "user_id": "cmdnvsfxa0007jt0jy61eghjk"
        }
      },
      "WalletAdditionalSigner": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "signer_id": {
              "type": "string"
            },
            "override_policy_ids": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "The array of policy IDs that will be applied to wallet requests. If specified, this will override the base policy IDs set on the wallet."
            }
          },
          "required": [
            "signer_id"
          ]
        },
        "description": "Additional signers for the wallet."
      },
      "Wallet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique ID of the wallet. This will be the primary identifier when using the wallet in the future."
          },
          "address": {
            "type": "string",
            "description": "Address of the wallet."
          },
          "public_key": {
            "type": "string",
            "description": "The compressed, raw public key for the wallet along the chain cryptographic curve."
          },
          "created_at": {
            "type": "number",
            "description": "Unix timestamp of when the wallet was created in milliseconds."
          },
          "chain_type": {
            "$ref": "#/components/schemas/WalletChainType"
          },
          "policy_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of policy IDs for policies that are enforced on the wallet."
          },
          "owner_id": {
            "type": "string",
            "nullable": true,
            "description": "The key quorum ID of the owner of the wallet."
          },
          "additional_signers": {
            "$ref": "#/components/schemas/WalletAdditionalSigner"
          },
          "exported_at": {
            "type": "number",
            "nullable": true,
            "description": "Unix timestamp of when the wallet was exported in milliseconds, if the wallet was exported."
          },
          "imported_at": {
            "type": "number",
            "nullable": true,
            "description": "Unix timestamp of when the wallet was imported in milliseconds, if the wallet was imported."
          }
        },
        "required": [
          "id",
          "address",
          "created_at",
          "chain_type",
          "policy_ids",
          "owner_id",
          "additional_signers",
          "exported_at",
          "imported_at"
        ],
        "example": {
          "id": "id2tptkqrxd39qo9j423etij",
          "address": "0xF1DBff66C993EE895C8cb176c30b07A559d76496",
          "chain_type": "ethereum",
          "policy_ids": [],
          "additional_signers": [],
          "owner_id": "rkiz0ivz254drv1xw982v3jq",
          "created_at": 1741834854578,
          "exported_at": null,
          "imported_at": null
        }
      },
      "CustodialWallet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "ethereum"
            ]
          },
          "provider": {
            "type": "string",
            "enum": [
              "bridge"
            ]
          }
        },
        "required": [
          "id",
          "address",
          "chain_type",
          "provider"
        ],
        "example": {
          "id": "id2tptkqrxd39qo9j423etij",
          "address": "0xF1DBff66C993EE895C8cb176c30b07A559d76496",
          "chain_type": "ethereum",
          "provider": "bridge"
        }
      },
      "EthereumPersonalSignRpcInput": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "personal_sign"
            ]
          },
          "params": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "encoding": {
                "oneOf": [
                  {
                    "type": "string",
                    "enum": [
                      "utf-8"
                    ]
                  },
                  {
                    "type": "string",
                    "enum": [
                      "hex"
                    ]
                  }
                ]
              }
            },
            "required": [
              "message",
              "encoding"
            ]
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "ethereum"
            ]
          }
        },
        "required": [
          "method",
          "params"
        ],
        "description": "Executes the EVM `personal_sign` RPC (EIP-191) to sign a message.",
        "title": "EthereumPersonalSignRpcInput",
        "x-stainless-model": "wallets.ethereum_personal_sign_rpc_input"
      },
      "EthereumSignTransactionRpcInput": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "eth_signTransaction"
            ]
          },
          "params": {
            "type": "object",
            "properties": {
              "transaction": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string"
                  },
                  "to": {
                    "type": "string"
                  },
                  "chain_id": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "nonce": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "data": {
                    "type": "string"
                  },
                  "value": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "type": {
                    "oneOf": [
                      {
                        "type": "number",
                        "enum": [
                          0
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          1
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          2
                        ]
                      }
                    ]
                  },
                  "gas_limit": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "gas_price": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "max_fee_per_gas": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "max_priority_fee_per_gas": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  }
                }
              }
            },
            "required": [
              "transaction"
            ]
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "ethereum"
            ]
          }
        },
        "required": [
          "method",
          "params"
        ],
        "description": "Executes the EVM `eth_signTransaction` RPC to sign a transaction.",
        "title": "EthereumSignTransactionRpcInput",
        "x-stainless-model": "wallets.ethereum_sign_transaction_rpc_input"
      },
      "EthereumSendTransactionRpcInput": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "eth_sendTransaction"
            ]
          },
          "caip2": {
            "type": "string",
            "pattern": "^[-a-z0-9]{3,8}:[-_a-zA-Z0-9]{1,32}$"
          },
          "params": {
            "type": "object",
            "properties": {
              "transaction": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string"
                  },
                  "to": {
                    "type": "string"
                  },
                  "chain_id": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "nonce": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "data": {
                    "type": "string"
                  },
                  "value": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "type": {
                    "oneOf": [
                      {
                        "type": "number",
                        "enum": [
                          0
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          1
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          2
                        ]
                      }
                    ]
                  },
                  "gas_limit": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "gas_price": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "max_fee_per_gas": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "max_priority_fee_per_gas": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  }
                }
              }
            },
            "required": [
              "transaction"
            ]
          },
          "sponsor": {
            "type": "boolean"
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "ethereum"
            ]
          }
        },
        "required": [
          "method",
          "caip2",
          "params"
        ],
        "description": "Executes the EVM `eth_sendTransaction` RPC to sign and broadcast a transaction.",
        "title": "EthereumSendTransactionRpcInput",
        "x-stainless-model": "wallets.ethereum_send_transaction_rpc_input"
      },
      "EthereumSignTypedDataRpcInput": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "eth_signTypedData_v4"
            ]
          },
          "params": {
            "type": "object",
            "properties": {
              "typed_data": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "object",
                    "additionalProperties": {
                      "nullable": true
                    }
                  },
                  "types": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "type"
                        ]
                      }
                    }
                  },
                  "message": {
                    "type": "object",
                    "additionalProperties": {
                      "nullable": true
                    }
                  },
                  "primary_type": {
                    "type": "string"
                  }
                },
                "required": [
                  "domain",
                  "types",
                  "message",
                  "primary_type"
                ]
              }
            },
            "required": [
              "typed_data"
            ]
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "ethereum"
            ]
          }
        },
        "required": [
          "method",
          "params"
        ],
        "description": "Executes the EVM `eth_signTypedData_v4` RPC (EIP-712) to sign a typed data object.",
        "title": "EthereumSignTypedDataRpcInput",
        "x-stainless-model": "wallets.ethereum_sign_typed_data_rpc_input"
      },
      "EthereumSignUserOperationRpcInput": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "eth_signUserOperation"
            ]
          },
          "params": {
            "type": "object",
            "properties": {
              "contract": {
                "type": "string"
              },
              "user_operation": {
                "type": "object",
                "properties": {
                  "sender": {
                    "type": "string"
                  },
                  "nonce": {
                    "type": "string"
                  },
                  "call_data": {
                    "type": "string"
                  },
                  "paymaster": {
                    "type": "string"
                  },
                  "paymaster_data": {
                    "type": "string"
                  },
                  "paymaster_post_op_gas_limit": {
                    "type": "string"
                  },
                  "paymaster_verification_gas_limit": {
                    "type": "string"
                  },
                  "max_priority_fee_per_gas": {
                    "type": "string"
                  },
                  "max_fee_per_gas": {
                    "type": "string"
                  },
                  "call_gas_limit": {
                    "type": "string"
                  },
                  "verification_gas_limit": {
                    "type": "string"
                  },
                  "pre_verification_gas": {
                    "type": "string"
                  }
                },
                "required": [
                  "sender",
                  "nonce",
                  "call_data",
                  "paymaster",
                  "paymaster_data",
                  "paymaster_post_op_gas_limit",
                  "paymaster_verification_gas_limit",
                  "max_priority_fee_per_gas",
                  "max_fee_per_gas",
                  "call_gas_limit",
                  "verification_gas_limit",
                  "pre_verification_gas"
                ]
              },
              "chain_id": {
                "oneOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "integer",
                    "minimum": -9007199254740991,
                    "maximum": 9007199254740991
                  }
                ]
              }
            },
            "required": [
              "contract",
              "user_operation",
              "chain_id"
            ]
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "ethereum"
            ]
          }
        },
        "required": [
          "method",
          "params"
        ],
        "description": "Executes an RPC method to hash and sign a UserOperation.",
        "title": "EthereumSignUserOperationRpcInput",
        "x-stainless-model": "wallets.ethereum_sign_user_operation_rpc_input"
      },
      "EthereumSign7702AuthorizationRpcInput": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "eth_sign7702Authorization"
            ]
          },
          "params": {
            "type": "object",
            "properties": {
              "contract": {
                "type": "string"
              },
              "chain_id": {
                "oneOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "integer",
                    "minimum": -9007199254740991,
                    "maximum": 9007199254740991
                  }
                ]
              },
              "nonce": {
                "oneOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "integer",
                    "minimum": -9007199254740991,
                    "maximum": 9007199254740991
                  }
                ]
              }
            },
            "required": [
              "contract",
              "chain_id"
            ]
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "ethereum"
            ]
          }
        },
        "required": [
          "method",
          "params"
        ],
        "description": "Signs an EIP-7702 authorization.",
        "title": "EthereumSign7702AuthorizationRpcInput",
        "x-stainless-model": "wallets.ethereum_sign_7702_authorization_rpc_input"
      },
      "EthereumSecp256k1SignRpcInput": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "secp256k1_sign"
            ]
          },
          "params": {
            "type": "object",
            "properties": {
              "hash": {
                "type": "string"
              }
            },
            "required": [
              "hash"
            ]
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "ethereum"
            ]
          }
        },
        "required": [
          "method",
          "params"
        ],
        "description": "Signs a raw hash on the secp256k1 curve.",
        "title": "EthereumSecp256k1SignRpcInput",
        "x-stainless-model": "wallets.ethereum_secp_256k_1_sign_rpc_input"
      },
      "SolanaSignTransactionRpcInput": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "signTransaction"
            ]
          },
          "params": {
            "type": "object",
            "properties": {
              "transaction": {
                "type": "string"
              },
              "encoding": {
                "type": "string",
                "enum": [
                  "base64"
                ]
              }
            },
            "required": [
              "transaction",
              "encoding"
            ]
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "solana"
            ]
          }
        },
        "required": [
          "method",
          "params"
        ],
        "description": "Executes the SVM `signTransaction` RPC to sign a transaction.",
        "title": "SolanaSignTransactionRpcInput",
        "x-stainless-model": "wallets.solana_sign_transaction_rpc_input"
      },
      "SolanaSignAndSendTransactionRpcInput": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "signAndSendTransaction"
            ]
          },
          "caip2": {
            "type": "string",
            "pattern": "^[-a-z0-9]{3,8}:[-_a-zA-Z0-9]{1,32}$"
          },
          "params": {
            "type": "object",
            "properties": {
              "transaction": {
                "type": "string"
              },
              "encoding": {
                "type": "string",
                "enum": [
                  "base64"
                ]
              }
            },
            "required": [
              "transaction",
              "encoding"
            ]
          },
          "sponsor": {
            "type": "boolean"
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "solana"
            ]
          }
        },
        "required": [
          "method",
          "caip2",
          "params"
        ],
        "description": "Executes the SVM `signAndSendTransaction` RPC to sign and broadcast a transaction.",
        "title": "SolanaSignAndSendTransactionRpcInput",
        "x-stainless-model": "wallets.solana_sign_and_send_transaction_rpc_input"
      },
      "SolanaSignMessageRpcInput": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "signMessage"
            ]
          },
          "params": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "encoding": {
                "type": "string",
                "enum": [
                  "base64"
                ]
              }
            },
            "required": [
              "message",
              "encoding"
            ]
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "solana"
            ]
          }
        },
        "required": [
          "method",
          "params"
        ],
        "description": "Executes the SVM `signMessage` RPC to sign a message.",
        "title": "SolanaSignMessageRpcInput",
        "x-stainless-model": "wallets.solana_sign_message_rpc_input"
      },
      "EthereumSignTransactionRpcResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "eth_signTransaction"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "signed_transaction": {
                "type": "string"
              },
              "encoding": {
                "type": "string",
                "enum": [
                  "rlp"
                ]
              }
            },
            "required": [
              "signed_transaction",
              "encoding"
            ]
          }
        },
        "required": [
          "method",
          "data"
        ],
        "description": "Response to the EVM `eth_signTransaction` RPC.",
        "title": "EthereumSignTransactionRpcResponse",
        "x-stainless-model": "wallets.ethereum_sign_transaction_rpc_response"
      },
      "EthereumSendTransactionRpcResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "eth_sendTransaction"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "transaction_id": {
                "type": "string"
              },
              "hash": {
                "type": "string"
              },
              "caip2": {
                "type": "string",
                "pattern": "^[-a-z0-9]{3,8}:[-_a-zA-Z0-9]{1,32}$"
              },
              "transaction_request": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string"
                  },
                  "to": {
                    "type": "string"
                  },
                  "chain_id": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "nonce": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "data": {
                    "type": "string"
                  },
                  "value": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "type": {
                    "oneOf": [
                      {
                        "type": "number",
                        "enum": [
                          0
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          1
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          2
                        ]
                      }
                    ]
                  },
                  "gas_limit": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "gas_price": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "max_fee_per_gas": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "max_priority_fee_per_gas": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  }
                }
              }
            },
            "required": [
              "hash",
              "caip2"
            ]
          }
        },
        "required": [
          "method",
          "data"
        ],
        "description": "Response to the EVM `eth_sendTransaction` RPC.",
        "title": "EthereumSendTransactionRpcResponse",
        "x-stainless-model": "wallets.ethereum_send_transaction_rpc_response"
      },
      "EthereumPersonalSignRpcResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "personal_sign"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "signature": {
                "type": "string"
              },
              "encoding": {
                "type": "string",
                "enum": [
                  "hex"
                ]
              }
            },
            "required": [
              "signature",
              "encoding"
            ]
          }
        },
        "required": [
          "method",
          "data"
        ],
        "description": "Response to the EVM `personal_sign` RPC.",
        "title": "EthereumPersonalSignRpcResponse",
        "x-stainless-model": "wallets.ethereum_personal_sign_rpc_response"
      },
      "EthereumSignTypedDataRpcResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "eth_signTypedData_v4"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "signature": {
                "type": "string"
              },
              "encoding": {
                "type": "string",
                "enum": [
                  "hex"
                ]
              }
            },
            "required": [
              "signature",
              "encoding"
            ]
          }
        },
        "required": [
          "method",
          "data"
        ],
        "description": "Response to the EVM `eth_signTypedData_v4` RPC.",
        "title": "EthereumSignTypedDataRpcResponse",
        "x-stainless-model": "wallets.ethereum_sign_typed_data_rpc_response"
      },
      "EthereumSignUserOperationRpcResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "eth_signUserOperation"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "signature": {
                "type": "string"
              },
              "encoding": {
                "type": "string",
                "enum": [
                  "hex"
                ]
              }
            },
            "required": [
              "signature",
              "encoding"
            ]
          }
        },
        "required": [
          "method",
          "data"
        ],
        "description": "Response to the EVM `eth_signUserOperation` RPC.",
        "title": "EthereumSignUserOperationRpcResponse",
        "x-stainless-model": "wallets.ethereum_sign_user_operation_rpc_response"
      },
      "EthereumSign7702AuthorizationRpcResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "eth_sign7702Authorization"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "authorization": {
                "type": "object",
                "properties": {
                  "contract": {
                    "type": "string"
                  },
                  "chain_id": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "nonce": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "r": {
                    "type": "string"
                  },
                  "s": {
                    "type": "string"
                  },
                  "y_parity": {
                    "type": "number"
                  }
                },
                "required": [
                  "contract",
                  "chain_id",
                  "nonce",
                  "r",
                  "s",
                  "y_parity"
                ]
              }
            },
            "required": [
              "authorization"
            ]
          }
        },
        "required": [
          "method",
          "data"
        ],
        "description": "Response to the EVM `eth_sign7702Authorization` RPC.",
        "title": "EthereumSign7702AuthorizationRpcResponse",
        "x-stainless-model": "wallets.ethereum_sign_7702_authorization_rpc_response"
      },
      "EthereumSecp256k1SignRpcResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "secp256k1_sign"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "signature": {
                "type": "string"
              },
              "encoding": {
                "type": "string",
                "enum": [
                  "hex"
                ]
              }
            },
            "required": [
              "signature",
              "encoding"
            ]
          }
        },
        "required": [
          "method",
          "data"
        ],
        "description": "Response to the EVM `secp256k1_sign` RPC.",
        "title": "EthereumSecp256k1SignRpcResponse",
        "x-stainless-model": "wallets.ethereum_secp_256k_1_sign_rpc_response"
      },
      "SolanaSignTransactionRpcResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "signTransaction"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "signed_transaction": {
                "type": "string"
              },
              "encoding": {
                "type": "string",
                "enum": [
                  "base64"
                ]
              }
            },
            "required": [
              "signed_transaction",
              "encoding"
            ]
          }
        },
        "required": [
          "method",
          "data"
        ],
        "description": "Response to the SVM `signTransaction` RPC.",
        "title": "SolanaSignTransactionRpcResponse",
        "x-stainless-model": "wallets.solana_sign_transaction_rpc_response"
      },
      "SolanaSignAndSendTransactionRpcResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "signAndSendTransaction"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "transaction_id": {
                "type": "string"
              },
              "hash": {
                "type": "string"
              },
              "caip2": {
                "type": "string",
                "pattern": "^[-a-z0-9]{3,8}:[-_a-zA-Z0-9]{1,32}$"
              }
            },
            "required": [
              "hash",
              "caip2"
            ]
          }
        },
        "required": [
          "method",
          "data"
        ],
        "description": "Response to the SVM `signAndSendTransaction` RPC.",
        "title": "SolanaSignAndSendTransactionRpcResponse",
        "x-stainless-model": "wallets.solana_sign_and_send_transaction_rpc_response"
      },
      "SolanaSignMessageRpcResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "signMessage"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "signature": {
                "type": "string"
              },
              "encoding": {
                "type": "string",
                "enum": [
                  "base64"
                ]
              }
            },
            "required": [
              "signature",
              "encoding"
            ]
          }
        },
        "required": [
          "method",
          "data"
        ],
        "description": "Response to the SVM `signMessage` RPC.",
        "title": "SolanaSignMessageRpcResponse",
        "x-stainless-model": "wallets.solana_sign_message_rpc_response"
      },
      "HPKEEncryption": {
        "type": "string",
        "enum": [
          "HPKE"
        ],
        "description": "The encryption type of the wallet to import. Currently only supports `HPKE`."
      },
      "WalletImportSupportedChains": {
        "type": "string",
        "enum": [
          "ethereum",
          "solana"
        ],
        "description": "The chain type of the wallet to import. Currently supports `ethereum` and `solana`."
      },
      "RawSignResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "raw_sign"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "signature": {
                "type": "string"
              },
              "encoding": {
                "type": "string",
                "enum": [
                  "hex"
                ]
              }
            },
            "required": [
              "signature",
              "encoding"
            ]
          }
        },
        "required": [
          "method",
          "data"
        ]
      },
      "PrivateKeyInitInput": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "The address of the wallet to import."
          },
          "chain_type": {
            "$ref": "#/components/schemas/WalletImportSupportedChains"
          },
          "encryption_type": {
            "$ref": "#/components/schemas/HPKEEncryption"
          },
          "entropy_type": {
            "type": "string",
            "enum": [
              "private-key"
            ]
          }
        },
        "required": [
          "address",
          "chain_type",
          "encryption_type",
          "entropy_type"
        ],
        "description": "The input for private key wallets."
      },
      "HDInitInput": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "The address of the wallet to import."
          },
          "chain_type": {
            "$ref": "#/components/schemas/WalletImportSupportedChains"
          },
          "encryption_type": {
            "$ref": "#/components/schemas/HPKEEncryption"
          },
          "entropy_type": {
            "type": "string",
            "enum": [
              "hd"
            ],
            "description": "The entropy type of the wallet to import."
          },
          "index": {
            "type": "integer",
            "minimum": 0,
            "description": "The index of the wallet to import."
          }
        },
        "required": [
          "address",
          "chain_type",
          "encryption_type",
          "entropy_type",
          "index"
        ],
        "description": "The input for HD wallets."
      },
      "PrivateKeySubmitInput": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "The address of the wallet to import."
          },
          "chain_type": {
            "$ref": "#/components/schemas/WalletImportSupportedChains"
          },
          "encryption_type": {
            "$ref": "#/components/schemas/HPKEEncryption"
          },
          "entropy_type": {
            "type": "string",
            "enum": [
              "private-key"
            ]
          },
          "ciphertext": {
            "type": "string",
            "description": "The encrypted entropy of the wallet to import."
          },
          "encapsulated_key": {
            "type": "string",
            "description": "The base64-encoded encapsulated key that was generated during encryption, for use during decryption inside the TEE."
          }
        },
        "required": [
          "address",
          "chain_type",
          "encryption_type",
          "entropy_type",
          "ciphertext",
          "encapsulated_key"
        ]
      },
      "HDSubmitInput": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "The address of the wallet to import."
          },
          "chain_type": {
            "$ref": "#/components/schemas/WalletImportSupportedChains"
          },
          "encryption_type": {
            "$ref": "#/components/schemas/HPKEEncryption"
          },
          "entropy_type": {
            "type": "string",
            "enum": [
              "hd"
            ],
            "description": "The entropy type of the wallet to import."
          },
          "index": {
            "type": "integer",
            "minimum": 0,
            "description": "The index of the wallet to import."
          },
          "ciphertext": {
            "type": "string",
            "description": "The encrypted entropy of the wallet to import."
          },
          "encapsulated_key": {
            "type": "string",
            "description": "The base64-encoded encapsulated key that was generated during encryption, for use during decryption inside the TEE."
          }
        },
        "required": [
          "address",
          "chain_type",
          "encryption_type",
          "entropy_type",
          "index",
          "ciphertext",
          "encapsulated_key"
        ]
      },
      "WalletExportRequestBody": {
        "type": "object",
        "properties": {
          "encryption_type": {
            "$ref": "#/components/schemas/HPKEEncryption"
          },
          "recipient_public_key": {
            "type": "string",
            "description": "The base64-encoded encryption public key to encrypt the wallet private key with."
          }
        },
        "required": [
          "encryption_type",
          "recipient_public_key"
        ],
        "title": "Wallet export request",
        "example": {
          "encryption_type": "HPKE",
          "recipient_public_key": "BDAZLOIdTaPycEYkgG0MvCzbIKJLli/yWkAV5yCa9yOsZ4JsrLweA5MnP8YIiY4k/RRzC+APhhO+P+Hoz/rt7Go="
        }
      },
      "WalletRevokeResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "required": [
          "message"
        ],
        "description": "The response body from revoking a wallet delegation.",
        "title": "WalletRevokeResponse"
      },
      "WalletExportResponseBody": {
        "type": "object",
        "properties": {
          "encryption_type": {
            "$ref": "#/components/schemas/HPKEEncryption"
          },
          "ciphertext": {
            "type": "string",
            "description": "The encrypted private key."
          },
          "encapsulated_key": {
            "type": "string",
            "description": "The base64-encoded encapsulated key that was generated during encryption, for use during decryption."
          }
        },
        "required": [
          "encryption_type",
          "ciphertext",
          "encapsulated_key"
        ],
        "title": "Wallet export response",
        "example": {
          "encryption_type": "HPKE",
          "encapsulated_key": "BOhR6xITDt5THJawHHJKrKdI9CBr2M/SDWzZZAaOW4gCMsSpC65U007WyKiwuuOVAo1BNm4YgcBBROuMmyIZXZk=",
          "ciphertext": "PRoRXygG+YYSDBXjCopNYZmx8Z6nvdl1D0lpePTYZdZI2VGfK+LkFt+GlEJqdoi9"
        }
      },
      "CustomMetadata": {
        "type": "object",
        "additionalProperties": {
          "oneOf": [
            {
              "type": "string"
            },
            {
              "type": "number"
            },
            {
              "type": "boolean"
            }
          ]
        },
        "description": "Custom metadata associated with the user."
      },
      "PasskeyMfaMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "passkey"
            ]
          },
          "verified_at": {
            "type": "number"
          }
        },
        "required": [
          "type",
          "verified_at"
        ],
        "title": "Passkey"
      },
      "SmsMfaMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "sms"
            ]
          },
          "verified_at": {
            "type": "number"
          }
        },
        "required": [
          "type",
          "verified_at"
        ],
        "title": "SMS"
      },
      "TotpMfaMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "totp"
            ]
          },
          "verified_at": {
            "type": "number"
          }
        },
        "required": [
          "type",
          "verified_at"
        ],
        "title": "TOTP"
      },
      "LinkedAccountEthereumEmbeddedWallet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "wallet"
            ]
          },
          "address": {
            "type": "string"
          },
          "imported": {
            "type": "boolean",
            "default": false
          },
          "delegated": {
            "type": "boolean",
            "default": false
          },
          "wallet_index": {
            "type": "number"
          },
          "chain_id": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "ethereum"
            ]
          },
          "wallet_client": {
            "type": "string",
            "enum": [
              "privy"
            ]
          },
          "wallet_client_type": {
            "type": "string",
            "enum": [
              "privy"
            ]
          },
          "connector_type": {
            "type": "string",
            "enum": [
              "embedded"
            ]
          },
          "recovery_method": {
            "type": "string",
            "enum": [
              "google-drive",
              "icloud",
              "privy",
              "privy-v2",
              "recovery-encryption-key",
              "user-passcode"
            ]
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "id",
          "type",
          "address",
          "imported",
          "delegated",
          "wallet_index",
          "chain_id",
          "chain_type",
          "wallet_client",
          "wallet_client_type",
          "connector_type",
          "recovery_method",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "LinkedAccountEthereumEmbeddedWallet",
        "x-stainless-model": "users.linked_account_ethereum_embedded_wallet"
      },
      "LinkedAccountSolanaEmbeddedWallet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "wallet"
            ]
          },
          "address": {
            "type": "string"
          },
          "imported": {
            "type": "boolean",
            "default": false
          },
          "delegated": {
            "type": "boolean",
            "default": false
          },
          "wallet_index": {
            "type": "number"
          },
          "chain_id": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "solana"
            ]
          },
          "wallet_client": {
            "type": "string",
            "enum": [
              "privy"
            ]
          },
          "wallet_client_type": {
            "type": "string",
            "enum": [
              "privy"
            ]
          },
          "connector_type": {
            "type": "string",
            "enum": [
              "embedded"
            ]
          },
          "recovery_method": {
            "type": "string",
            "enum": [
              "google-drive",
              "icloud",
              "privy",
              "privy-v2",
              "recovery-encryption-key",
              "user-passcode"
            ]
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          },
          "public_key": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "type",
          "address",
          "imported",
          "delegated",
          "wallet_index",
          "chain_id",
          "chain_type",
          "wallet_client",
          "wallet_client_type",
          "connector_type",
          "recovery_method",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "LinkedAccountSolanaEmbeddedWallet",
        "x-stainless-model": "users.linked_account_solana_embedded_wallet"
      },
      "LinkedAccountBitcoinSegwitEmbeddedWallet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "wallet"
            ]
          },
          "address": {
            "type": "string"
          },
          "imported": {
            "type": "boolean",
            "default": false
          },
          "delegated": {
            "type": "boolean",
            "default": false
          },
          "wallet_index": {
            "type": "number"
          },
          "chain_id": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "bitcoin-segwit"
            ]
          },
          "wallet_client": {
            "type": "string",
            "enum": [
              "privy"
            ]
          },
          "wallet_client_type": {
            "type": "string",
            "enum": [
              "privy"
            ]
          },
          "connector_type": {
            "type": "string",
            "enum": [
              "embedded"
            ]
          },
          "recovery_method": {
            "type": "string",
            "enum": [
              "google-drive",
              "icloud",
              "privy",
              "privy-v2",
              "recovery-encryption-key",
              "user-passcode"
            ]
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          },
          "public_key": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "type",
          "address",
          "imported",
          "delegated",
          "wallet_index",
          "chain_id",
          "chain_type",
          "wallet_client",
          "wallet_client_type",
          "connector_type",
          "recovery_method",
          "verified_at",
          "first_verified_at",
          "latest_verified_at",
          "public_key"
        ],
        "title": "LinkedAccountBitcoinSegwitEmbeddedWallet",
        "x-stainless-model": "users.linked_account_bitcoin_segwit_embedded_wallet"
      },
      "LinkedAccountBitcoinTaprootEmbeddedWallet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "wallet"
            ]
          },
          "address": {
            "type": "string"
          },
          "imported": {
            "type": "boolean",
            "default": false
          },
          "delegated": {
            "type": "boolean",
            "default": false
          },
          "wallet_index": {
            "type": "number"
          },
          "chain_id": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "bitcoin-taproot"
            ]
          },
          "wallet_client": {
            "type": "string",
            "enum": [
              "privy"
            ]
          },
          "wallet_client_type": {
            "type": "string",
            "enum": [
              "privy"
            ]
          },
          "connector_type": {
            "type": "string",
            "enum": [
              "embedded"
            ]
          },
          "recovery_method": {
            "type": "string",
            "enum": [
              "google-drive",
              "icloud",
              "privy",
              "privy-v2",
              "recovery-encryption-key",
              "user-passcode"
            ]
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          },
          "public_key": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "type",
          "address",
          "imported",
          "delegated",
          "wallet_index",
          "chain_id",
          "chain_type",
          "wallet_client",
          "wallet_client_type",
          "connector_type",
          "recovery_method",
          "verified_at",
          "first_verified_at",
          "latest_verified_at",
          "public_key"
        ],
        "title": "LinkedAccountBitcoinTaprootEmbeddedWallet",
        "x-stainless-model": "users.linked_account_bitcoin_taproot_embedded_wallet"
      },
      "LinkedAccountCurveSigningEmbeddedWallet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "wallet"
            ]
          },
          "address": {
            "type": "string"
          },
          "imported": {
            "type": "boolean",
            "default": false
          },
          "delegated": {
            "type": "boolean",
            "default": false
          },
          "wallet_index": {
            "type": "number"
          },
          "chain_id": {
            "type": "string"
          },
          "chain_type": {
            "$ref": "#/components/schemas/CurveSigningChainType"
          },
          "wallet_client": {
            "type": "string",
            "enum": [
              "privy"
            ]
          },
          "wallet_client_type": {
            "type": "string",
            "enum": [
              "privy"
            ]
          },
          "connector_type": {
            "type": "string",
            "enum": [
              "embedded"
            ]
          },
          "recovery_method": {
            "type": "string",
            "enum": [
              "google-drive",
              "icloud",
              "privy",
              "privy-v2",
              "recovery-encryption-key",
              "user-passcode"
            ]
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          },
          "public_key": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "type",
          "address",
          "imported",
          "delegated",
          "wallet_index",
          "chain_id",
          "chain_type",
          "wallet_client",
          "wallet_client_type",
          "connector_type",
          "recovery_method",
          "verified_at",
          "first_verified_at",
          "latest_verified_at",
          "public_key"
        ],
        "title": "LinkedAccountCurveSigningEmbeddedWallet",
        "x-stainless-model": "users.linked_account_curve_signing_embedded_wallet"
      },
      "LinkedAccountEmbeddedWallet": {
        "title": "LinkedAccountEmbeddedWallet",
        "x-stainless-model": "users.linked_account_embedded_wallet",
        "oneOf": [
          {
            "$ref": "#/components/schemas/LinkedAccountEthereumEmbeddedWallet"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountSolanaEmbeddedWallet"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountBitcoinSegwitEmbeddedWallet"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountBitcoinTaprootEmbeddedWallet"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountCurveSigningEmbeddedWallet"
          }
        ]
      },
      "LinkedAccountEmbeddedWalletWithId": {
        "allOf": [
          {
            "$ref": "#/components/schemas/LinkedAccountEmbeddedWallet"
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "recovery_method": {
                "type": "string",
                "enum": [
                  "privy-v2"
                ]
              }
            },
            "required": [
              "id",
              "recovery_method"
            ]
          }
        ],
        "title": "LinkedAccountEmbeddedWalletWithId",
        "x-stainless-model": "users.linked_account_embedded_wallet_with_id"
      },
      "SmartWalletType": {
        "type": "string",
        "enum": [
          "biconomy",
          "coinbase_smart_wallet",
          "kernel",
          "light_account",
          "safe",
          "thirdweb"
        ],
        "title": "SmartWalletType",
        "x-stainless-model": "users.smart_wallet_type"
      },
      "LinkedAccountSmartWallet": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "smart_wallet"
            ]
          },
          "address": {
            "type": "string"
          },
          "smart_wallet_type": {
            "$ref": "#/components/schemas/SmartWalletType"
          },
          "smart_wallet_version": {
            "type": "string"
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "type",
          "address",
          "smart_wallet_type",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "LinkedAccountSmartWallet",
        "x-stainless-model": "users.linked_account_smart_wallet"
      },
      "LinkedAccountEmail": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "email"
            ]
          },
          "address": {
            "type": "string"
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "type",
          "address",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "Email"
      },
      "LinkedAccountPhone": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "phone"
            ]
          },
          "number": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "type",
          "phoneNumber",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "Phone"
      },
      "LinkedAccountCrossApp": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "cross_app"
            ]
          },
          "subject": {
            "type": "string"
          },
          "provider_app_id": {
            "type": "string"
          },
          "embedded_wallets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string"
                }
              },
              "required": [
                "address"
              ]
            }
          },
          "smart_wallets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string"
                }
              },
              "required": [
                "address"
              ]
            }
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "type",
          "subject",
          "provider_app_id",
          "embedded_wallets",
          "smart_wallets",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "CrossApp"
      },
      "LinkedAccountAuthorizationKey": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "authorization_key"
            ]
          },
          "public_key": {
            "type": "string"
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "type",
          "public_key",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "Authorization Key"
      },
      "LinkedAccountCustomJwt": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "custom_auth"
            ]
          },
          "custom_user_id": {
            "type": "string"
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "type",
          "custom_user_id",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "Custom Jwt"
      },
      "LinkedAccountAppleOauth": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "apple_oauth"
            ]
          },
          "subject": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "type",
          "subject",
          "email",
          "verified_at",
[...]
