{
  "openapi": "3.0.0",
  "info": {
    "version": "0.0.1",
    "title": "Privy API",
    "contact": {
      "email": "support@privy.io"
    }
  },
  "tags": [
    {
      "name": "Wallets",
      "description": "Operations related to wallets"
    },
    {
      "name": "Policies",
      "description": "Operations related to policies"
    },
    {
      "name": "Transactions",
      "description": "Operations related to transactions"
    },
    {
      "name": "Key quorums",
      "description": "Operations related to key quorums"
    },
    {
      "name": "Users",
      "description": "Operations related to users"
    },
    {
      "name": "User signers",
      "description": "Operations related to user signers"
    },
    {
      "name": "Fiat",
      "description": "Operations related to fiat onramping and offramping"
    }
  ],
  "servers": [
    {
      "url": "https://api.privy.io"
    }
  ],
  "components": {
    "securitySchemes": {
      "appSecretAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic Auth header with your app ID as the username and your app secret as the password."
      }
    },
    "schemas": {
      "WalletChainType": {
        "type": "string",
        "enum": [
          "solana",
          "ethereum",
          "cosmos",
          "stellar",
          "sui",
          "tron",
          "bitcoin-segwit",
          "near",
          "spark",
          "ton",
          "starknet"
        ],
        "description": "Chain type of the wallet"
      },
      "OwnerInput": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "public_key": {
                "type": "string"
              }
            },
            "required": [
              "public_key"
            ],
            "description": "The P-256 public key of the owner of the resource. If you provide this, do not specify an owner_id as it will be generated automatically.",
            "title": "Public key owner"
          },
          {
            "type": "object",
            "properties": {
              "user_id": {
                "type": "string"
              }
            },
            "required": [
              "user_id"
            ],
            "description": "The user ID of the owner of the resource. The user must already exist, and this value must start with \"did:privy:\". If you provide this, do not specify an owner_id as it will be generated automatically.",
            "title": "User owner"
          },
          {
            "nullable": true
          }
        ],
        "description": "The owner of the resource. If you provide this, do not specify an owner_id as it will be generated automatically. When updating a wallet, you can set the owner to null to remove the owner."
      },
      "OwnerIdInput": {
        "type": "string",
        "description": "The key quorum ID to set as the owner of the resource. If you provide this, do not specify an owner."
      },
      "WalletAdditionalSigner": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "signer_id": {
              "type": "string"
            },
            "override_policy_ids": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "The array of policy IDs that will be applied to wallet requests. If specified, this will override the base policy IDs set on the wallet."
              }
            }
          },
          "required": [
            "signer_id",
            "override_policy_ids"
          ]
        },
        "description": "Additional signers for the wallet."
      },
      "Wallet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique ID of the wallet. This will be the primary identifier when using the wallet in the future."
          },
          "address": {
            "type": "string",
            "description": "Address of the wallet."
          },
          "public_key": {
            "type": "string",
            "description": "The compressed, raw public key for the wallet along the chain cryptographic curve."
          },
          "created_at": {
            "type": "number",
            "description": "Unix timestamp of when the wallet was created in milliseconds."
          },
          "chain_type": {
            "$ref": "#/components/schemas/WalletChainType"
          },
          "policy_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of policy IDs for policies that are enforced on the wallet."
          },
          "owner_id": {
            "type": "string",
            "description": "The key quorum ID of the owner of the wallet."
          },
          "additional_signers": {
            "$ref": "#/components/schemas/WalletAdditionalSigner"
          },
          "exported_at": {
            "type": "number",
            "nullable": true,
            "description": "Unix timestamp of when the wallet was exported in milliseconds, if the wallet was exported."
          },
          "imported_at": {
            "type": "number",
            "nullable": true,
            "description": "Unix timestamp of when the wallet was imported in milliseconds, if the wallet was imported."
          }
        },
        "required": [
          "id",
          "address",
          "created_at",
          "chain_type",
          "policy_ids",
          "additional_signers",
          "exported_at",
          "imported_at"
        ],
        "example": {
          "id": "id2tptkqrxd39qo9j423etij",
          "address": "0xF1DBff66C993EE895C8cb176c30b07A559d76496",
          "chain_type": "ethereum",
          "policy_ids": [],
          "additional_signers": [],
          "owner_id": "rkiz0ivz254drv1xw982v3jq",
          "created_at": 1741834854578,
          "exported_at": null,
          "imported_at": null
        }
      },
      "EthereumPersonalSignRpcInput": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "personal_sign"
            ]
          },
          "params": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "encoding": {
                "oneOf": [
                  {
                    "type": "string",
                    "enum": [
                      "utf-8"
                    ]
                  },
                  {
                    "type": "string",
                    "enum": [
                      "hex"
                    ]
                  }
                ]
              }
            },
            "required": [
              "message",
              "encoding"
            ],
            "additionalProperties": false
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "ethereum"
            ]
          }
        },
        "required": [
          "method",
          "params"
        ],
        "additionalProperties": false
      },
      "EthereumSignTransactionRpcInput": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "eth_signTransaction"
            ]
          },
          "params": {
            "type": "object",
            "properties": {
              "transaction": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string"
                  },
                  "to": {
                    "type": "string"
                  },
                  "chain_id": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "nonce": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "data": {
                    "type": "string"
                  },
                  "value": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "type": {
                    "oneOf": [
                      {
                        "type": "number",
                        "enum": [
                          0
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          1
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          2
                        ]
                      }
                    ]
                  },
                  "gas_limit": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "gas_price": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "max_fee_per_gas": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "max_priority_fee_per_gas": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  }
                },
                "additionalProperties": false
              }
            },
            "required": [
              "transaction"
            ],
            "additionalProperties": false
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "ethereum"
            ]
          }
        },
        "required": [
          "method",
          "params"
        ],
        "additionalProperties": false
      },
      "EthereumSendTransactionRpcInput": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "eth_sendTransaction"
            ]
          },
          "caip2": {
            "type": "string",
            "pattern": "^[-a-z0-9]{3,8}:[-_a-zA-Z0-9]{1,32}$"
          },
          "params": {
            "type": "object",
            "properties": {
              "transaction": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string"
                  },
                  "to": {
                    "type": "string"
                  },
                  "chain_id": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "nonce": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "data": {
                    "type": "string"
                  },
                  "value": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "type": {
                    "oneOf": [
                      {
                        "type": "number",
                        "enum": [
                          0
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          1
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          2
                        ]
                      }
                    ]
                  },
                  "gas_limit": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "gas_price": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "max_fee_per_gas": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "max_priority_fee_per_gas": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  }
                },
                "additionalProperties": false
              }
            },
            "required": [
              "transaction"
            ],
            "additionalProperties": false
          },
          "sponsor": {
            "type": "boolean"
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "ethereum"
            ]
          }
        },
        "required": [
          "method",
          "caip2",
          "params"
        ],
        "additionalProperties": false
      },
      "EthereumSignTypedDataRpcInput": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "eth_signTypedData_v4"
            ]
          },
          "params": {
            "type": "object",
            "properties": {
              "typed_data": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "object",
                    "additionalProperties": {
                      "nullable": true
                    }
                  },
                  "types": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "type"
                        ]
                      }
                    }
                  },
                  "message": {
                    "type": "object",
                    "additionalProperties": {
                      "nullable": true
                    }
                  },
                  "primary_type": {
                    "type": "string"
                  }
                },
                "required": [
                  "domain",
                  "types",
                  "message",
                  "primary_type"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "typed_data"
            ],
            "additionalProperties": false
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "ethereum"
            ]
          }
        },
        "required": [
          "method",
          "params"
        ],
        "additionalProperties": false
      },
      "EthereumSign7702AuthorizationRpcInput": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "eth_sign7702Authorization"
            ]
          },
          "params": {
            "type": "object",
            "properties": {
              "contract": {
                "type": "string"
              },
              "chain_id": {
                "oneOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "integer",
                    "minimum": -9007199254740991,
                    "maximum": 9007199254740991
                  }
                ]
              },
              "nonce": {
                "oneOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "integer",
                    "minimum": -9007199254740991,
                    "maximum": 9007199254740991
                  }
                ]
              }
            },
            "required": [
              "contract",
              "chain_id"
            ],
            "additionalProperties": false
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "ethereum"
            ]
          }
        },
        "required": [
          "method",
          "params"
        ],
        "additionalProperties": false
      },
      "EthereumSecp256k1SignRpcInput": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "secp256k1_sign"
            ]
          },
          "params": {
            "type": "object",
            "properties": {
              "hash": {
                "type": "string"
              }
            },
            "required": [
              "hash"
            ],
            "additionalProperties": false
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "ethereum"
            ]
          }
        },
        "required": [
          "method",
          "params"
        ],
        "additionalProperties": false
      },
      "SolanaSignTransactionRpcInput": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "signTransaction"
            ]
          },
          "params": {
            "type": "object",
            "properties": {
              "transaction": {
                "type": "string"
              },
              "encoding": {
                "type": "string",
                "enum": [
                  "base64"
                ]
              }
            },
            "required": [
              "transaction",
              "encoding"
            ],
            "additionalProperties": false
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "solana"
            ]
          }
        },
        "required": [
          "method",
          "params"
        ],
        "additionalProperties": false
      },
      "SolanaSignAndSendTransactionRpcInput": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "signAndSendTransaction"
            ]
          },
          "caip2": {
            "type": "string",
            "pattern": "^[-a-z0-9]{3,8}:[-_a-zA-Z0-9]{1,32}$"
          },
          "params": {
            "type": "object",
            "properties": {
              "transaction": {
                "type": "string"
              },
              "encoding": {
                "type": "string",
                "enum": [
                  "base64"
                ]
              }
            },
            "required": [
              "transaction",
              "encoding"
            ],
            "additionalProperties": false
          },
          "sponsor": {
            "type": "boolean"
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "solana"
            ]
          }
        },
        "required": [
          "method",
          "caip2",
          "params"
        ],
        "additionalProperties": false
      },
      "SolanaSignMessageRpcInput": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "signMessage"
            ]
          },
          "params": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "encoding": {
                "type": "string",
                "enum": [
                  "base64"
                ]
              }
            },
            "required": [
              "message",
              "encoding"
            ],
            "additionalProperties": false
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "solana"
            ]
          }
        },
        "required": [
          "method",
          "params"
        ],
        "additionalProperties": false
      },
      "EthereumSignTransactionRpcResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "eth_signTransaction"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "signed_transaction": {
                "type": "string"
              },
              "encoding": {
                "type": "string",
                "enum": [
                  "rlp"
                ]
              }
            },
            "required": [
              "signed_transaction",
              "encoding"
            ]
          }
        },
        "required": [
          "method",
          "data"
        ]
      },
      "EthereumSendTransactionRpcResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "eth_sendTransaction"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "transaction_id": {
                "type": "string"
              },
              "hash": {
                "type": "string"
              },
              "caip2": {
                "type": "string",
                "pattern": "^[-a-z0-9]{3,8}:[-_a-zA-Z0-9]{1,32}$"
              },
              "transaction_request": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string"
                  },
                  "to": {
                    "type": "string"
                  },
                  "chain_id": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "nonce": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "data": {
                    "type": "string"
                  },
                  "value": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "type": {
                    "oneOf": [
                      {
                        "type": "number",
                        "enum": [
                          0
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          1
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          2
                        ]
                      }
                    ]
                  },
                  "gas_limit": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "gas_price": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "max_fee_per_gas": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "max_priority_fee_per_gas": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  }
                },
                "additionalProperties": false
              }
            },
            "required": [
              "hash",
              "caip2"
            ]
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "method"
        ]
      },
      "EthereumPersonalSignRpcResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "personal_sign"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "signature": {
                "type": "string"
              },
              "encoding": {
                "type": "string",
                "enum": [
                  "hex"
                ]
              }
            },
            "required": [
              "signature",
              "encoding"
            ]
          }
        },
        "required": [
          "method",
          "data"
        ]
      },
      "EthereumSignTypedDataRpcResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "eth_signTypedData_v4"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "signature": {
                "type": "string"
              },
              "encoding": {
                "type": "string",
                "enum": [
                  "hex"
                ]
              }
            },
            "required": [
              "signature",
              "encoding"
            ]
          }
        },
        "required": [
          "method",
          "data"
        ]
      },
      "EthereumSign7702AuthorizationRpcResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "eth_sign7702Authorization"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "authorization": {
                "type": "object",
                "properties": {
                  "contract": {
                    "type": "string"
                  },
                  "chain_id": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "nonce": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ]
                  },
                  "r": {
                    "type": "string"
                  },
                  "s": {
                    "type": "string"
                  },
                  "y_parity": {
                    "type": "number"
                  }
                },
                "required": [
                  "contract",
                  "chain_id",
                  "nonce",
                  "r",
                  "s",
                  "y_parity"
                ]
              }
            },
            "required": [
              "authorization"
            ]
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "method"
        ]
      },
      "EthereumSecp256k1SignRpcResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "secp256k1_sign"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "signature": {
                "type": "string"
              },
              "encoding": {
                "type": "string",
                "enum": [
                  "hex"
                ]
              }
            },
            "required": [
              "signature",
              "encoding"
            ]
          }
        },
        "required": [
          "method",
          "data"
        ]
      },
      "SolanaSignTransactionRpcResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "signTransaction"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "signed_transaction": {
                "type": "string"
              },
              "encoding": {
                "type": "string",
                "enum": [
                  "base64"
                ]
              }
            },
            "required": [
              "signed_transaction",
              "encoding"
            ]
          }
        },
        "required": [
          "method",
          "data"
        ]
      },
      "SolanaSignAndSendTransactionRpcResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "signAndSendTransaction"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "transaction_id": {
                "type": "string"
              },
              "hash": {
                "type": "string"
              },
              "caip2": {
                "type": "string",
                "pattern": "^[-a-z0-9]{3,8}:[-_a-zA-Z0-9]{1,32}$"
              }
            },
            "required": [
              "hash",
              "caip2"
            ]
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "method"
        ]
      },
      "SolanaSignMessageRpcResponse": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "signMessage"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "signature": {
                "type": "string"
              },
              "encoding": {
                "type": "string",
                "enum": [
                  "base64"
                ]
              }
            },
            "required": [
              "signature",
              "encoding"
            ]
          }
        },
        "required": [
          "method",
          "data"
        ]
      },
      "HPKEEncryption": {
        "type": "string",
        "enum": [
          "HPKE"
        ],
        "description": "The encryption type of the wallet to import. Currently only supports `HPKE`."
      },
      "WalletImportSupportedChains": {
        "type": "string",
        "enum": [
          "ethereum",
          "solana"
        ],
        "description": "The chain type of the wallet to import. Currently supports `ethereum` and `solana`."
      },
      "RawSignResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "signature": {
                "type": "string"
              },
              "encoding": {
                "type": "string",
                "enum": [
                  "hex"
                ]
              }
            },
            "required": [
              "signature",
              "encoding"
            ]
          }
        },
        "required": [
          "data"
        ],
        "additionalProperties": false
      },
      "PrivateKeyInitInput": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "The address of the wallet to import."
          },
          "chain_type": {
            "$ref": "#/components/schemas/WalletImportSupportedChains"
          },
          "encryption_type": {
            "$ref": "#/components/schemas/HPKEEncryption"
          },
          "entropy_type": {
            "type": "string",
            "enum": [
              "private-key"
            ]
          }
        },
        "required": [
          "address",
          "chain_type",
          "encryption_type",
          "entropy_type"
        ],
        "description": "The input for private key wallets."
      },
      "HDInitInput": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "The address of the wallet to import."
          },
          "chain_type": {
            "$ref": "#/components/schemas/WalletImportSupportedChains"
          },
          "encryption_type": {
            "$ref": "#/components/schemas/HPKEEncryption"
          },
          "entropy_type": {
            "type": "string",
            "enum": [
              "hd"
            ],
            "description": "The entropy type of the wallet to import."
          },
          "index": {
            "type": "integer",
            "minimum": 0,
            "description": "The index of the wallet to import."
          }
        },
        "required": [
          "address",
          "chain_type",
          "encryption_type",
          "entropy_type",
          "index"
        ],
        "description": "The input for HD wallets."
      },
      "PrivateKeySubmitInput": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "The address of the wallet to import."
          },
          "chain_type": {
            "$ref": "#/components/schemas/WalletImportSupportedChains"
          },
          "encryption_type": {
            "$ref": "#/components/schemas/HPKEEncryption"
          },
          "entropy_type": {
            "type": "string",
            "enum": [
              "private-key"
            ]
          },
          "ciphertext": {
            "type": "string",
            "description": "The encrypted entropy of the wallet to import."
          },
          "encapsulated_key": {
            "type": "string",
            "description": "The base64-encoded encapsulated key that was generated during encryption, for use during decryption inside the TEE."
          }
        },
        "required": [
          "address",
          "chain_type",
          "encryption_type",
          "entropy_type",
          "ciphertext",
          "encapsulated_key"
        ]
      },
      "HDSubmitInput": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "The address of the wallet to import."
          },
          "chain_type": {
            "$ref": "#/components/schemas/WalletImportSupportedChains"
          },
          "encryption_type": {
            "$ref": "#/components/schemas/HPKEEncryption"
          },
          "entropy_type": {
            "type": "string",
            "enum": [
              "hd"
            ],
            "description": "The entropy type of the wallet to import."
          },
          "index": {
            "type": "integer",
            "minimum": 0,
            "description": "The index of the wallet to import."
          },
          "ciphertext": {
            "type": "string",
            "description": "The encrypted entropy of the wallet to import."
          },
          "encapsulated_key": {
            "type": "string",
            "description": "The base64-encoded encapsulated key that was generated during encryption, for use during decryption inside the TEE."
          }
        },
        "required": [
          "address",
          "chain_type",
          "encryption_type",
          "entropy_type",
          "index",
          "ciphertext",
          "encapsulated_key"
        ]
      },
      "WalletExportRequestBody": {
        "type": "object",
        "properties": {
          "encryption_type": {
            "$ref": "#/components/schemas/HPKEEncryption"
          },
          "recipient_public_key": {
            "type": "string",
            "description": "The base64-encoded encryption public key to encrypt the wallet private key with."
          }
        },
        "required": [
          "encryption_type",
          "recipient_public_key"
        ],
        "title": "Wallet export request",
        "example": {
          "encryption_type": "HPKE",
          "recipient_public_key": "BDAZLOIdTaPycEYkgG0MvCzbIKJLli/yWkAV5yCa9yOsZ4JsrLweA5MnP8YIiY4k/RRzC+APhhO+P+Hoz/rt7Go="
        }
      },
      "WalletExportResponseBody": {
        "type": "object",
        "properties": {
          "encryption_type": {
            "$ref": "#/components/schemas/HPKEEncryption"
          },
          "ciphertext": {
            "type": "string",
            "description": "The encrypted private key."
          },
          "encapsulated_key": {
            "type": "string",
            "description": "The base64-encoded encapsulated key that was generated during encryption, for use during decryption."
          }
        },
        "required": [
          "encryption_type",
          "ciphertext",
          "encapsulated_key"
        ],
        "title": "Wallet export response",
        "example": {
          "encryption_type": "HPKE",
          "encapsulated_key": "BOhR6xITDt5THJawHHJKrKdI9CBr2M/SDWzZZAaOW4gCMsSpC65U007WyKiwuuOVAo1BNm4YgcBBROuMmyIZXZk=",
          "ciphertext": "PRoRXygG+YYSDBXjCopNYZmx8Z6nvdl1D0lpePTYZdZI2VGfK+LkFt+GlEJqdoi9"
        }
      },
      "CustomMetadata": {
        "type": "object",
        "additionalProperties": {
          "oneOf": [
            {
              "type": "string"
            },
            {
              "type": "number"
            },
            {
              "type": "boolean"
            }
          ]
        },
        "description": "Custom metadata associated with the user."
      },
      "PasskeyMfaMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "passkey"
            ]
          },
          "verified_at": {
            "type": "number"
          }
        },
        "required": [
          "type",
          "verified_at"
        ],
        "title": "Passkey"
      },
      "SmsMfaMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "sms"
            ]
          },
          "verified_at": {
            "type": "number"
          }
        },
        "required": [
          "type",
          "verified_at"
        ],
        "title": "SMS"
      },
      "TotpMfaMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "totp"
            ]
          },
          "verified_at": {
            "type": "number"
          }
        },
        "required": [
          "type",
          "verified_at"
        ],
        "title": "TOTP"
      },
      "LinkedAccountEmail": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "email"
            ]
          },
          "address": {
            "type": "string"
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "type",
          "address",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "Email"
      },
      "LinkedAccountPhone": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "phone"
            ]
          },
          "number": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "type",
          "phoneNumber",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "Phone"
      },
      "LinkedAccountCrossApp": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "cross_app"
            ]
          },
          "subject": {
            "type": "string"
          },
          "provider_app_id": {
            "type": "string"
          },
          "embedded_wallets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string"
                }
              },
              "required": [
                "address"
              ]
            }
          },
          "smart_wallets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string"
                }
              },
              "required": [
                "address"
              ]
            }
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "type",
          "subject",
          "provider_app_id",
          "embedded_wallets",
          "smart_wallets",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "CrossApp"
      },
      "LinkedAccountAuthorizationKey": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "authorization_key"
            ]
          },
          "public_key": {
            "type": "string"
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "type",
          "public_key",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "Authorization Key"
      },
      "LinkedAccountCustomJwt": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "custom_auth"
            ]
          },
          "custom_user_id": {
            "type": "string"
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "type",
          "custom_user_id",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "Custom Jwt"
      },
      "LinkedAccountAppleOauth": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "apple_oauth"
            ]
          },
          "subject": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "type",
          "subject",
          "email",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "Apple"
      },
      "LinkedAccountDiscordOauth": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "discord_oauth"
            ]
          },
          "subject": {
            "type": "string"
          },
          "username": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "type",
          "subject",
          "username",
          "email",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "Discord"
      },
      "LinkedAccountGithubOauth": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "github_oauth"
            ]
          },
          "subject": {
            "type": "string"
          },
          "username": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "type",
          "subject",
          "username",
          "name",
          "email",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "Github"
      },
      "LinkedAccountGoogleOauth": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "google_oauth"
            ]
          },
          "subject": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "type",
          "subject",
          "email",
          "name",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "Google"
      },
      "LinkedAccountInstagramOauth": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "instagram_oauth"
            ]
          },
          "subject": {
            "type": "string"
          },
          "username": {
            "type": "string",
            "nullable": true
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "type",
          "subject",
          "username",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "Instagram"
      },
      "LinkedAccountLinkedInOauth": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "linkedin_oauth"
            ]
          },
          "subject": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "vanity_name": {
            "type": "string"
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "type",
          "subject",
          "email",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "LinkedIn"
      },
      "LinkedAccountSpotifyOauth": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "spotify_oauth"
            ]
          },
          "subject": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "type",
          "subject",
          "email",
          "name",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "Spotify"
      },
      "LinkedAccountTiktokOauth": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "tiktok_oauth"
            ]
          },
          "subject": {
            "type": "string"
          },
          "username": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "type",
          "subject",
          "username",
          "name",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "Tiktok"
      },
      "LinkedAccountLineOauth": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "line_oauth"
            ]
          },
          "subject": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "profile_picture_url": {
            "type": "string",
            "nullable": true
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "type",
          "subject",
          "name",
          "email",
          "profile_picture_url",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "Line"
      },
      "LinkedAccountTwitterOauth": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "twitter_oauth"
            ]
          },
          "subject": {
            "type": "string"
          },
          "username": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "profile_picture_url": {
            "type": "string",
            "nullable": true
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "type",
          "subject",
          "username",
          "name",
          "profile_picture_url",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "Twitter"
      },
      "LinkedAccountSmartWallet": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "smart_wallet"
            ]
          },
          "address": {
            "type": "string"
          },
          "smart_wallet_type": {
            "type": "string",
            "enum": [
              "safe",
              "kernel",
              "biconomy",
              "light_account",
              "coinbase_smart_wallet",
              "thirdweb"
            ]
          },
          "smart_wallet_version": {
            "type": "string"
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "type",
          "address",
          "smart_wallet_type",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "Smart Wallet"
      },
      "LinkedAccountPasskey": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "passkey"
            ]
          },
          "created_with_browser": {
            "type": "string"
          },
          "created_with_os": {
            "type": "string"
          },
          "created_with_device": {
            "type": "string"
          },
          "credential_id": {
            "type": "string"
          },
          "authenticator_name": {
            "type": "string"
          },
          "public_key": {
            "type": "string"
          },
          "enrolled_in_mfa": {
            "type": "boolean"
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "type",
          "credential_id",
          "enrolled_in_mfa",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "Passkey"
      },
      "LinkedAccountFarcaster": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "farcaster"
            ]
          },
          "fid": {
            "type": "number"
          },
          "owner_address": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "bio": {
            "type": "string"
          },
          "profile_picture": {
            "type": "string"
          },
          "profile_picture_url": {
            "type": "string"
          },
          "homepage_url": {
            "type": "string"
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          },
          "signer_public_key": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "fid",
          "owner_address",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "Farcaster"
      },
      "LinkedAccountTelegram": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "telegram"
            ]
          },
          "telegram_user_id": {
            "type": "string"
          },
          "first_name": {
            "type": "string",
            "nullable": true
          },
          "last_name": {
            "type": "string",
            "nullable": true
          },
          "username": {
            "type": "string",
            "nullable": true
          },
          "photo_url": {
            "type": "string",
            "nullable": true
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "type",
          "telegram_user_id",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "Telegram"
      },
      "LinkedAccountEthereum": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "wallet"
            ]
          },
          "address": {
            "type": "string"
          },
          "chain_id": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "ethereum"
            ]
          },
          "wallet_client": {
            "type": "string",
            "enum": [
              "unknown"
            ]
          },
          "wallet_client_type": {
            "type": "string"
          },
          "connector_type": {
            "type": "string"
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "type",
          "address",
          "chain_type",
          "wallet_client",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "Ethereum"
      },
      "LinkedAccountEthereumEmbeddedWallet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "wallet"
            ]
          },
          "address": {
            "type": "string"
          },
          "imported": {
            "type": "boolean",
            "default": false
          },
          "delegated": {
            "type": "boolean",
            "default": false
          },
          "wallet_index": {
            "type": "number"
          },
          "chain_id": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "ethereum"
            ]
          },
          "wallet_client": {
            "type": "string",
            "enum": [
              "privy"
            ]
          },
          "wallet_client_type": {
            "type": "string",
            "enum": [
              "privy"
            ]
          },
          "connector_type": {
            "type": "string",
            "enum": [
              "embedded"
            ]
          },
          "recovery_method": {
            "type": "string",
            "enum": [
              "privy",
              "user-passcode",
              "google-drive",
              "icloud",
              "recovery-encryption-key",
              "privy-v2"
            ]
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "id",
          "type",
          "address",
          "imported",
          "delegated",
          "wallet_index",
          "chain_id",
          "chain_type",
          "wallet_client",
          "wallet_client_type",
          "connector_type",
          "recovery_method",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "Ethereum Embedded Wallet"
      },
      "LinkedAccountSolana": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "wallet"
            ]
          },
          "address": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "solana"
            ]
          },
          "wallet_client": {
            "type": "string",
            "enum": [
              "unknown"
            ]
          },
          "wallet_client_type": {
            "type": "string"
          },
          "connector_type": {
            "type": "string"
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "type",
          "address",
          "chain_type",
          "wallet_client",
          "verified_at",
          "first_verified_at",
          "latest_verified_at"
        ],
        "title": "Solana"
      },
      "LinkedAccountSolanaEmbeddedWallet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "wallet"
            ]
          },
          "address": {
            "type": "string"
          },
          "imported": {
            "type": "boolean",
            "default": false
          },
          "delegated": {
            "type": "boolean",
            "default": false
          },
          "wallet_index": {
            "type": "number"
          },
          "chain_id": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "solana"
            ]
          },
          "wallet_client": {
            "type": "string",
            "enum": [
              "privy"
            ]
          },
          "wallet_client_type": {
            "type": "string",
            "enum": [
              "privy"
            ]
          },
          "connector_type": {
            "type": "string",
            "enum": [
              "embedded"
            ]
          },
          "recovery_method": {
            "type": "string",
            "enum": [
              "privy",
              "user-passcode",
              "google-drive",
              "icloud",
              "recovery-encryption-key",
              "privy-v2"
            ]
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          },
          "public_key": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "type",
          "address",
          "imported",
          "delegated",
          "wallet_index",
          "chain_id",
          "chain_type",
          "wallet_client",
          "wallet_client_type",
          "connector_type",
          "recovery_method",
          "verified_at",
          "first_verified_at",
          "latest_verified_at",
          "public_key"
        ],
        "title": "Solana Embedded Wallet"
      },
      "LinkedAccountBitcoinSegwitEmbeddedWallet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "wallet"
            ]
          },
          "address": {
            "type": "string"
          },
          "imported": {
            "type": "boolean",
            "default": false
          },
          "delegated": {
            "type": "boolean",
            "default": false
          },
          "wallet_index": {
            "type": "number"
          },
          "chain_id": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "bitcoin-segwit"
            ]
          },
          "wallet_client": {
            "type": "string",
            "enum": [
              "privy"
            ]
          },
          "wallet_client_type": {
            "type": "string",
            "enum": [
              "privy"
            ]
          },
          "connector_type": {
            "type": "string",
            "enum": [
              "embedded"
            ]
          },
          "recovery_method": {
            "type": "string",
            "enum": [
              "privy",
              "user-passcode",
              "google-drive",
              "icloud",
              "recovery-encryption-key",
              "privy-v2"
            ]
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          },
          "public_key": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "type",
          "address",
          "imported",
          "delegated",
          "wallet_index",
          "chain_id",
          "chain_type",
          "wallet_client",
          "wallet_client_type",
          "connector_type",
          "recovery_method",
          "verified_at",
          "first_verified_at",
          "latest_verified_at",
          "public_key"
        ],
        "title": "Bitcoin Segwit Embedded Wallet"
      },
      "LinkedAccountBitcoinTaprootEmbeddedWallet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "wallet"
            ]
          },
          "address": {
            "type": "string"
          },
          "imported": {
            "type": "boolean",
            "default": false
          },
          "delegated": {
            "type": "boolean",
            "default": false
          },
          "wallet_index": {
            "type": "number"
          },
          "chain_id": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "bitcoin-taproot"
            ]
          },
          "wallet_client": {
            "type": "string",
            "enum": [
              "privy"
            ]
          },
          "wallet_client_type": {
            "type": "string",
            "enum": [
              "privy"
            ]
          },
          "connector_type": {
            "type": "string",
            "enum": [
              "embedded"
            ]
          },
          "recovery_method": {
            "type": "string",
            "enum": [
              "privy",
              "user-passcode",
              "google-drive",
              "icloud",
              "recovery-encryption-key",
              "privy-v2"
            ]
          },
          "verified_at": {
            "type": "number"
          },
          "first_verified_at": {
            "type": "number",
            "nullable": true
          },
          "latest_verified_at": {
            "type": "number",
            "nullable": true
          },
          "public_key": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "type",
          "address",
          "imported",
          "delegated",
          "wallet_index",
          "chain_id",
          "chain_type",
          "wallet_client",
          "wallet_client_type",
          "connector_type",
          "recovery_method",
          "verified_at",
          "first_verified_at",
          "latest_verified_at",
          "public_key"
        ],
        "title": "Bitcoin Taproot Embedded Wallet"
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "linked_accounts": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/LinkedAccountEmail"
                },
                {
                  "$ref": "#/components/schemas/LinkedAccountPhone"
                },
                {
                  "$ref": "#/components/schemas/LinkedAccountCrossApp"
                },
                {
                  "$ref": "#/components/schemas/LinkedAccountAuthorizationKey"
                },
                {
                  "$ref": "#/components/schemas/LinkedAccountCustomJwt"
                },
                {
                  "$ref": "#/components/schemas/LinkedAccountAppleOauth"
                },
                {
                  "$ref": "#/components/schemas/LinkedAccountDiscordOauth"
                },
                {
                  "$ref": "#/components/schemas/LinkedAccountGithubOauth"
                },
                {
                  "$ref": "#/components/schemas/LinkedAccountGoogleOauth"
                },
                {
                  "$ref": "#/components/schemas/LinkedAccountInstagramOauth"
                },
                {
                  "$ref": "#/components/schemas/LinkedAccountLinkedInOauth"
                },
                {
                  "$ref": "#/components/schemas/LinkedAccountSpotifyOauth"
                },
                {
                  "$ref": "#/components/schemas/LinkedAccountTiktokOauth"
                },
                {
                  "$ref": "#/components/schemas/LinkedAccountLineOauth"
                },
                {
                  "$ref": "#/components/schemas/LinkedAccountTwitterOauth"
                },
                {
                  "$ref": "#/components/schemas/LinkedAccountSmartWallet"
                },
                {
                  "$ref": "#/components/schemas/LinkedAccountPasskey"
                },
                {
                  "$ref": "#/components/schemas/LinkedAccountFarcaster"
                },
                {
                  "$ref": "#/components/schemas/LinkedAccountTelegram"
                },
                {
                  "$ref": "#/components/schemas/LinkedAccountEthereum"
                },
                {
                  "$ref": "#/components/schemas/LinkedAccountEthereumEmbeddedWallet"
                },
                {
                  "$ref": "#/components/schemas/LinkedAccountSolana"
                },
                {
                  "$ref": "#/components/schemas/LinkedAccountSolanaEmbeddedWallet"
                },
                {
                  "$ref": "#/components/schemas/LinkedAccountBitcoinSegwitEmbeddedWallet"
                },
                {
                  "$ref": "#/components/schemas/LinkedAccountBitcoinTaprootEmbeddedWallet"
                }
              ]
            }
          },
          "mfa_methods": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/PasskeyMfaMethod"
                },
                {
                  "$ref": "#/components/schemas/SmsMfaMethod"
                },
                {
                  "$ref": "#/components/schemas/TotpMfaMethod"
                }
              ],
              "discriminator": {
                "propertyName": "type",
                "mapping": {
                  "passkey": "#/components/schemas/PasskeyMfaMethod",
                  "sms": "#/components/schemas/SmsMfaMethod",
                  "totp": "#/components/schemas/TotpMfaMethod"
                }
              }
            }
          },
          "created_at": {
            "type": "number",
            "description": "Unix timestamp of when the user was created in milliseconds."
          },
          "has_accepted_terms": {
            "type": "boolean",
            "description": "Indicates if the user has accepted the terms of service."
          },
          "is_guest": {
            "type": "boolean",
            "description": "Indicates if the user is a guest account user."
          },
          "custom_metadata": {
            "$ref": "#/components/schemas/CustomMetadata"
          }
        },
        "required": [
          "id",
          "linked_accounts",
          "mfa_methods",
          "created_at",
          "has_accepted_terms",
          "is_guest"
        ],
        "example": {
          "id": "did:privy:cm3np4u9j001rc8b73seqmqqk",
          "created_at": 1731974895,
          "linked_accounts": [
            {
              "address": "tom.bombadill@privy.io",
              "type": "email",
              "first_verified_at": 1674788927,
              "latest_verified_at": 1674788927,
              "verified_at": 1674788927
            },
            {
              "type": "farcaster",
              "fid": 4423,
              "owner_address": "0xE6bFb4137F3A8C069F98cc775f324A84FE45FdFF",
              "username": "payton",
              "display_name": "payton ↑",
              "bio": "engineering at /privy. building pixelpool.xyz, the first Farcaster video client. nyc. 👨‍💻🍎🏳️‍🌈  nf.td/payton",
              "profile_picture": "https://supercast.mypinata.cloud/ipfs/QmNexfCxdnFzWdJqKVgrjd27UGLMexNaw5FXu1XKR3cQF7?filename=IMG_2799.png",
              "profile_picture_url": "https://supercast.mypinata.cloud/ipfs/QmNexfCxdnFzWdJqKVgrjd27UGLMexNaw5FXu1XKR3cQF7?filename=IMG_2799.png",
              "verified_at": 1740678402,
              "first_verified_at": 1740678402,
              "latest_verified_at": 1741194370
            },
            {
              "type": "passkey",
              "credential_id": "Il5vP-3Tm3hNmDVBmDlREgXzIOJnZEaiVnT-XMliXe-BufP9GL1-d3qhozk9IkZwQ_",
              "authenticator_name": "1Password",
              "public_key": "pQECAyYgASFYIKdGwx5XxZ/7CJJzT8d5L6jyLNQdTH7X+rSZdPJ9Ux/QIlggRm4OcJ8F3aB5zYz3T9LxLdDfGpWvYkHgS4A8tPz9CqE=",
              "created_with_browser": "Chrome",
              "created_with_os": "Mac OS",
              "created_with_device": "Macintosh",
              "enrolled_in_mfa": true,
              "verified_at": 1741194420,
              "first_verified_at": 1741194420,
              "latest_verified_at": 1741194420
            }
          ],
          "mfa_methods": [
            {
              "type": "passkey",
              "verified_at": 1741194420
            }
          ],
          "has_accepted_terms": true,
          "is_guest": false
        }
      },
      "LinkedAccountWalletInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "wallet"
            ]
          },
          "address": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "string"
              }
            ]
          },
          "chain_type": {
            "type": "string",
            "enum": [
              "ethereum",
              "solana"
            ]
          }
        },
        "required": [
          "type",
          "address",
          "chain_type"
        ],
        "title": "Wallet"
      },
      "LinkedAccountEmailInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "email"
            ]
          },
          "address": {
            "type": "string",
            "format": "email"
          }
        },
        "required": [
          "type",
          "address"
        ],
        "title": "Email"
      },
      "LinkedAccountPhoneInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "phone"
            ]
          },
          "number": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "number"
        ],
        "title": "Phone"
      },
      "LinkedAccountGoogleInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "google_oauth"
            ]
          },
          "subject": {
            "type": "string",
            "pattern": "^[\\x00-\\x7F]{1,256}$"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "subject",
          "email",
          "name"
        ],
        "additionalProperties": false,
        "title": "Google"
      },
      "LinkedAccountTwitterInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "twitter_oauth"
            ]
          },
          "subject": {
            "type": "string",
            "pattern": "^[\\x00-\\x7F]{1,256}$"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50
          },
          "username": {
            "type": "string",
            "pattern": "^[0-9a-zA-Z|\\_]{1,15}$"
          },
          "profile_picture_url": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "type",
          "subject",
          "name",
          "username"
        ],
        "additionalProperties": false,
        "title": "Twitter"
      },
      "LinkedAccountDiscordInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "discord_oauth"
            ]
          },
          "subject": {
            "type": "string",
            "pattern": "^[\\x00-\\x7F]{1,256}$"
          },
          "username": {
            "type": "string",
            "pattern": "^(?!discord|everyone|here)[0-9a-zA-Z_.]{2,32}(?:#(?:[0-9]{4}|0))?$"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        },
        "required": [
          "type",
          "subject",
          "username"
        ],
        "additionalProperties": false,
        "title": "Discord"
      },
      "LinkedAccountGithubInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "github_oauth"
            ]
          },
          "subject": {
            "type": "string",
            "pattern": "^[\\x00-\\x7F]{1,256}$"
          },
          "username": {
            "type": "string",
            "maxLength": 39,
            "pattern": "^[a-zA-Z0-9]+(?:-[a-zA-Z0-9]+)*$"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        },
        "required": [
          "type",
          "subject",
          "username"
        ],
        "additionalProperties": false,
        "title": "Github"
      },
      "LinkedAccountSpotifyInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "spotify_oauth"
            ]
          },
          "subject": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        },
        "required": [
          "type",
          "subject"
        ],
        "additionalProperties": false,
        "title": "Spotify"
      },
      "LinkedAccountInstagramInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "instagram_oauth"
            ]
          },
          "subject": {
            "type": "string",
            "pattern": "^[\\x00-\\x7F]{1,256}$"
          },
          "username": {
            "type": "string",
            "pattern": "^(?!instagram|everyone|here)[0-9a-zA-Z._]{2,32}$"
          }
        },
        "required": [
          "type",
          "subject",
          "username"
        ],
        "additionalProperties": false,
        "title": "Instagram"
      },
      "LinkedAccountTiktokInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "tiktok_oauth"
            ]
          },
          "subject": {
            "type": "string",
            "pattern": "^[\\x00-\\x7F]{1,256}$"
          },
          "username": {
            "type": "string",
            "pattern": "^(?!tiktok|everyone|here)[0-9a-zA-Z]{2,32}$"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "minLength": 1,
            "maxLength": 30
          }
        },
        "required": [
          "type",
          "subject",
          "username",
          "name"
        ],
        "additionalProperties": false,
        "title": "Tiktok"
      },
      "LinkedAccountLineInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "line_oauth"
            ]
          },
          "subject": {
            "type": "string",
            "pattern": "^[\\x00-\\x7F]{1,256}$"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 30
          },
          "profile_picture_url": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "type",
          "subject"
        ],
        "additionalProperties": false,
        "title": "LINE"
      },
      "LinkedAccountAppleInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "apple_oauth"
            ]
          },
          "subject": {
            "type": "string",
            "pattern": "^[\\x00-\\x7F]{1,256}$"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        },
        "required": [
          "type",
          "subject"
        ],
        "additionalProperties": false,
        "title": "Apple"
      },
      "LinkedAccountLinkedInInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "linkedin_oauth"
            ]
          },
          "subject": {
            "type": "string",
            "pattern": "^[\\x00-\\x7F]{1,256}$"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "vanityName": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "subject"
        ],
        "additionalProperties": false,
        "title": "LinkedIn"
      },
      "LinkedAccountFarcasterInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "farcaster"
            ]
          },
          "fid": {
            "type": "integer"
          },
          "owner_address": {
            "type": "string"
          },
          "username": {
            "type": "string",
            "maxLength": 256
          },
          "display_name": {
            "type": "string",
            "maxLength": 32
          },
          "bio": {
            "type": "string",
            "maxLength": 256
          },
          "profile_picture_url": {
            "type": "string",
            "maxLength": 256
          },
          "homepage_url": {
            "type": "string",
            "maxLength": 256
          }
        },
        "required": [
          "type",
          "fid",
          "owner_address"
        ],
        "additionalProperties": false,
        "title": "Farcaster"
      },
      "LinkedAccountTelegramInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "telegram"
            ]
          },
          "telegram_user_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "first_name": {
            "type": "string",
            "maxLength": 255
          },
          "last_name": {
            "type": "string",
            "maxLength": 255
          },
          "username": {
            "type": "string",
            "maxLength": 255
          },
          "photo_url": {
            "type": "string",
            "maxLength": 255
          }
        },
        "required": [
          "type",
          "telegram_user_id"
        ],
        "additionalProperties": false,
        "title": "Telegram"
      },
      "LinkedAccountCustomJWTInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "custom_auth"
            ]
          },
          "custom_user_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 256
          }
        },
        "required": [
          "type",
          "custom_user_id"
        ],
        "additionalProperties": false,
        "title": "Custom JWT"
      },
      "LinkedAccountInput": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/LinkedAccountWalletInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountEmailInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountPhoneInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountGoogleInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountTwitterInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountDiscordInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountGithubInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountSpotifyInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountInstagramInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountTiktokInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountLineInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountAppleInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountLinkedInInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountFarcasterInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountTelegramInput"
          },
          {
            "$ref": "#/components/schemas/LinkedAccountCustomJWTInput"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "wallet": "#/components/schemas/LinkedAccountWalletInput",
            "email": "#/components/schemas/LinkedAccountEmailInput",
            "phone": "#/components/schemas/LinkedAccountPhoneInput",
            "google_oauth": "#/components/schemas/LinkedAccountGoogleInput",
            "twitter_oauth": "#/components/schemas/LinkedAccountTwitterInput",
            "discord_oauth": "#/components/schemas/LinkedAccountDiscordInput",
            "github_oauth": "#/components/schemas/LinkedAccountGithubInput",
            "spotify_oauth": "#/components/schemas/LinkedAccountSpotifyInput",
            "instagram_oauth": "#/components/schemas/LinkedAccountInstagramInput",
            "tiktok_oauth": "#/components/schemas/LinkedAccountTiktokInput",
            "line_oauth": "#/components/schemas/LinkedAccountLineInput",
            "apple_oauth": "#/components/schemas/LinkedAccountAppleInput",
            "linkedin_oauth": "#/components/schemas/LinkedAccountLinkedInInput",
            "farcaster": "#/components/schemas/LinkedAccountFarcasterInput",
            "telegram": "#/components/schemas/LinkedAccountTelegramInput",
            "custom_auth": "#/components/schemas/LinkedAccountCustomJWTInput"
          }
        },
        "description": "The input for adding a linked account to a user.",
        "title": "LinkedAccountInput",
        "example": {
          "type": "email",
          "address": "tom.bombadill@privy.io"
        }
      },
      "PolicyChainType": {
        "type": "string",
        "enum": [
          "ethereum",
          "solana"
        ],
        "description": "The chain type the policy applies to."
      },
      "ConditionOperator": {
        "type": "string",
        "enum": [
          "eq",
          "gt",
          "gte",
          "lt",
          "lte",
          "in"
        ]
      },
      "ConditionValue": {
        "oneOf": [
          {
            "type": "string"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ]
      },
      "EthereumTransactionCondition": {
        "type": "object",
        "properties": {
          "field_source": {
            "type": "string",
            "enum": [
              "ethereum_transaction"
            ]
          },
          "field": {
            "type": "string",
            "enum": [
              "to",
              "value"
            ],
            "title": "EthereumTransactionConditionField"
          },
          "operator": {
[...]
